/*button stick*/
a {
  color: inherit;
}

.nav-pills>li+li {
    margin-left: 0px !important;
    color: #1d92af;
    font-size: small;
}

 h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

 h1 {
  font-size: 3em;
}


/*fin button stick*/

@media (max-width: 1199px) and (min-width: 992px) .promo_03 {
    background-position: left -30px top 0;
}

.promo-box {
    float: left;
    width: 100%;
    padding: 5%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 1199px) and (min-width: 992px) .promo-content {
    padding: 0;
}

.promo-content {
    padding: 2%;
    width: 65%;
    position: relative;
    z-index: 1;
}


@media (max-width: 1199px) and (min-width: 992px) .promo-box h4 {
    /*padding: 0 0 5px 0;*/
}

.promo-box h4 {
    /*padding: 5px 0 1px 0;*/
    font-weight: 700;
}

.promo-box p {
    padding: 0;
    margin: 0;
    text-align: justify;
}

p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px 0;
    line-height: 18px;
}

.pull-right > .label.label-info {
    right: 0px !important;
}

.label.label-info {
    position: absolute;
    top: -15px;
}

.label.label-success {
    position: absolute;
    top: -15px;
}

.pull-right > .label.label-success {
    right: 0px !important;
}

.date-init {
    position: absolute;
    bottom: -15px !important;
    right: 0px;
    font-size: smaller;
    font-weight: 700;
}

span.subUbicacion {
    font-size: 12px;
}

input#filtro {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 22px;
    font-size: x-large;
    font-weight: 500;
    color: #051d60;
    opacity: 1;
    text-shadow: none;
    border: 0;
    border-bottom: 1px solid #8BC34A;
}

.subir-ubicacion {
    color: #011d62;
    font-size: xx-large;
    cursor: pointer;
}

.subir-asistidas {
    color: crimson;
    font-size: xx-large;
    cursor: pointer;
}

.adjunto {
    cursor: pointer;
    font-size: x-large;
}

.crear-presupuesto {
    color: green;
    font-size: xx-large;
    cursor: pointer;
}

.new-sponsor {
    font-size: xx-large;
    cursor: pointer;
}

.btnVerFeria {
    color: #5fc2ff !important;
    font-size: xx-large;
    cursor: pointer;
}
