@import '//fonts.googleapis.com/css?family=Muli:300';
/* Timeline
 */
.timeline {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 62px;
  margin: 0;
  list-style: none;
}
.timeline::before {
  position: absolute;
  top: 0;
  height: 100%;
  padding-right: 11px;
  border-right: 2px solid #F2F2F2;
  content: "";
}
.timeline__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding: 22px 0;
    cursor: pointer;
}

/*.swal2-modal.swal2-show {
    width: 90% !important;
}*/

.profile-empresa {
    position: absolute !important;
    top: -50px;
}

.img-fluid.mx-auto.d-block.img-empresa {
    padding: 0px !important;
    padding-left: 30px !important;
}

.timeline__step {
  padding-right: 4px;
}
.timeline__step__marker {
  position: relative;
  display: table-cell;
  height: 24px;
  min-height: 24px;
  width: 24px;
  min-width: 24px;
  border: 4px solid #F2F2F2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  z-index: 0;
}
.timeline__step__marker--red {
  border-color: #5FC2FF;
}
.timeline__step__marker--blue {
  border-color: #18D0BF;
}
.timeline__step__marker--salmon {
  border-color: #F48A6D;
}
.timeline__step__marker--purple {
  border-color: #5FC2FF;
}
.timeline__time {
    padding-right: 46px;
    font-size: 15px;
}

.timeline__item:first-child {
    color: #5fc2ff;
    border-color: ;
}

.capitalize {
    font-size: small;
    color: #54575e;
}

.titulo {
    padding-top: 70px;
    padding-left: 20px;
}

.fecha-evento {
    font-weight: 600;
    padding: 5px;
}

.timeline__title {
    padding-bottom: 6px;
    font-size: 18px;
    text-align: -webkit-left;
    font-weight: 400;
}
.timeline__points {
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #77777D;
}
.timeline__points > * {
  padding: 0 0 12px 0;
  text-align: justify;
}

/* For mobile!
 */
@media (max-width: 768px) {
  .card {
    max-width: 1024;
  }

  .timeline {
    padding: 0 35.42857px;
  }
  .timeline::before {
    padding-right: 6.28571px;
  }
  .timeline__item {
    padding: 35.42857px 0;
  }
  .timeline__step {
    padding-right: 35.42857px;
  }
  .timeline__step__marker {
    height: 13.71429px;
    min-hieght: 13.71429px;
    width: 13.71429px;
    min-width: 13.71429px;
    border-width: 2.28571px;
  }
  .timeline__time {
    padding-right: 126px;
    font-size: 15px;
  }
  .timeline__title {
    padding-bottom: 14.85714px;
    font-size: 18.28571px;
  }
  .timeline__points {
    font-size: 13.71429px;
  }
  .timeline__points > * {
    padding-bottom: 6.85714px;
  }
}
/* Display stuff
 */
html {
  background: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/153256/trees.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

html, body {
  line-height: 1.5rem;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.card {
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: table;
}

/*prueba head timeline */
/*$black: #202020;
$white: #fff;
$dark-grey: #808080;
$light-grey: #d9d9d9;
$purple: #B97CFC;
$pink: #F93B69;
$green: #B0E8E2;
$orange: #EB8B6E;*/

.header {
    background: url(/storage/ferias/header-bitacora.jpg);
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: 9;
}

.date-left {
    max-width: 800px;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
}

.color-overlay {
    box-sizing: border-box;
    min-height: 184px;
}

.actionbutton {
    position: absolute;
    background: #F44336;
    color: aliceblue;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 3em;
    font-weight: 300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -25px;
    right: 20px;
    box-shadow: 0 0 8px #202020;
}

.day-number {
  font-size: 4em;
  display: inline-block;
  margin-right: 15px;
}

.date-right {
  display: inline-block;
}

.day-name {
    font-size: 3em;
    font-weight: 500;
    padding-bottom: 20px;
    color: #5fc2ff;
}

.month {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 2px;
}

.swal2-modal.swal2-noanimation.swal2-show {
    width: 80% !important;
}

#formGuardar{
    text-align: justify !important;
}

/*Botones de elegir comentario o visitante*/
.botones-activacion{
	font-size: 50px;
	background-color: white;
	padding: 50px;
	text-align: center;
}

/* Wrapper */
.icon-button {
	background-color: #ccc;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    /* font-size: 3rem; */
    height: 5.6rem;
    line-height: 3.6rem;
    margin: 0px 3px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 31%;
	margin: 0;
	position: absolute;
	top: 30%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.twitter2 span {
	background-color: #4099ff;
}
.facebook2 span {
	background-color: #3B5998;
}

/* Icons */
.icon-button i {
	background: none;
    color: white;
    height: 5.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 12px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 5.6rem;
    z-index: 10;
}
.icon-button .fa fa-male {
	color: #4099ff;
}
.icon-button .fa fa-users {
	color: #3B5998;
}

.icon-button:hover .fa fa-male,
.icon-button:hover .fa fa-users{
	color: white;
}
/*fin Botones de elegir comentario o visitante*/


/*Botones de dashboard y registros*/


/* footer social icons */
#btn-nav ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
#btn-nav ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

#btn-nav .social-network a.icoRegistre:hover {
	background-color:#3B5998;
}

#btn-nav .social-network a.icoDashboard:hover {
	background-color:#007bb7;
}
#btn-nav .social-network a.icoRegistre:hover i, .social-network a.icoDashboard:hover i {
	color:#fff;
}
#btn-nav a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

#btn-nav .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
#btn-nav .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

#btn-nav .social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
#btn-nav .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

#btn-nav a {
 background-color: #D3D3D3;
}
/*Fin Botones dashboard y registros*/
