.btn-patrocinador{
    width: 150px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(45, 67, 160);
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(1,34,102) 0%, rgb(1,28,163) 45%, rgb(0,21,223) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(1,34,102) 0%, rgb(1,28,163) 45%, rgb(0,21,223) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(1,34,102) 0%, rgb(1,28,163) 45%, rgb(0,21,223) 100%);
    opacity: 0.851;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.btn-patrocinador:hover{
    color: #5fc2ff;
}
.btn-proveedor{
    width: 150px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(59, 135, 195);
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(0,44,93) 0%, rgb(91,169,228) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,44,93) 0%, rgb(91,169,228) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,44,93) 0%, rgb(91,169,228) 100%);
    opacity: 0.851;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.btn-proveedor:hover{
    color: #5fc2ff;
}
.btn-feria{
    width: 150px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(63, 175, 221);
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(0,71,108) 0%, rgb(168,229,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,71,108) 0%, rgb(168,229,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,71,108) 0%, rgb(168,229,255) 100%);
    opacity: 0.851;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.btn-feria:hover{
    color: #5fc2ff;
}
