.quick-access{
    text-align: right;
}
.titulo{
    background-color: transparent;
    border: 0;
    font-size: inherit;
    text-align: center;
}
.duracion_h_m::placeholder{
    color: #011d62 !important;
}
.duracion_h_m{
    background-color: transparent;
    border: 0;
    color: #011d62
}
.duracion{
    font-size: small;
}
.guardar_tema{
   color: #FFF !important;
    margin-top: 6%;
}
.mas-temas{
    color: green !important;
    font-size: -webkit-xxx-large;
}
.eliminar_temas{
    font-size: 21px !important;
    cursor: pointer;
}
.eliminar_conferencista{
    font-size: 21px !important;
    cursor: pointer;
}
.guardar_conferencista{
    color: #FFF !important;
    margin-top: 6%;
}
.exis{
    cursor: pointer !important;
    z-index: 1;
}
.fila-conferencista{
    margin-top: 2%;
}
.cabecera{
    margin-top: 2%;
}
.img-lista{
    min-width: 64px;
    max-width: 64px;
}
.datos::placeholder{
    color: #011d62 !important;
}
.datos{
    background-color: transparent;
    border: 0;
    color: #011d62
}
.tema-conferencia{
    color: #5fc2ff;
    font-size: larger;
}
.nombre-conferencista{
    vertical-align: middle;
    color: #011d62;
    font-size: large;
}
.fa-plus-circle{
    cursor: pointer;
}
.contextual-summary-info.contextual-background.azul1-bg i, .contextual-summary-info.contextual-background.azul1-bg p {
    color: #5fc2ff !important;
}
.azul1-bg{
    min-height:100%;
    background-color: #011d62 !important;
}
.contextual-summary-info.contextual-background.azul-bg i, .contextual-summary-info.contextual-background.azul-bg p {
    color: #011d62 !important;
}
.azul-bg{
    min-height:100%;
    background-color: #5fc2ff !important;
}
.conferencista{
    text-align: left !important;
}
hr {
   border-top: 3px solid #5fc2ff;
   border-bottom: 2px dashed #011d62;
   border-left: none;
   border-right: none;
   height: 6px;
 }
.nombre-conferencia{
    margin-top: auto;
}
.numero-conferencia{
    margin-left: 47px;
    width: 29%;
    height: 34px;
    font-size: 20px;
    color: #ffffff !important;
    background-color: #011d62;
    border: 2px solid #011d62;
    z-index: 1;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

@media screen and (max-width: 1367px) {
    .numero-conferencia{
         width: 45%;
         margin-left: 29px;
    }
}
/*Diseño de ERIK*/
.encabezado{
    color: #051d60;
    margin-left: 340px;
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .encabezado{
        margin-left: 239px;
    }
}

.border{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

.crear-conferencia{
    cursor: pointer;
}
.name-conference{
    color: #1b49ca !important;
}
.bg-white{
    background-color: white;
}
.title-conferencista{
    background-color: #2A3C48 !important;
    color: rgb(104, 210, 255);
}
.photo-speaker{
    width: 50px;
}
.eliminar-conferencista{
    cursor: pointer;
}
.R-conferncista{
    border-bottom: 1px solid #d0d0d0;
}
.sombra-cuadro{
    -webkit-box-shadow: -2px 3px 29px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 29px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 29px -4px rgba(0,0,0,0.75);
}
.cursor-mano{
    cursor: pointer;
}
.alto-fijo{
    min-height: 285px;
    max-height: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title-temas{
    background-color: #2A3C48 !important;
    color: rgb(150, 193, 0);
}
.R-tema{
    border-bottom: 1px solid #d0d0d0;
    height: 69.98px;
}
.title-ubicacion{
    background-color: #2A3C48 !important;
    color: rgba(255, 152, 0, 0.702);
}
.color-location{
    color: #9e9c9c;
}
/*Fin Diseño de ERIK*/
