.dropzone{
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}

.dropzone:after {
    content: 'Suelte aqui el logo del proveedor' !important;
}
.foto_responsable:after {
    content: 'Suelte aqui la imagen del responsable' !important;
}

.col-logo{
    margin-top: 2%;
}

.datos{
    text-align: left;
}

.bootstrap-tagsinput{
    width: 100%;
}
.bootstrap-tagsinput .tag {
    background-color: #011d62;
    color: #5fc2ff;
}
.pais_mostrar{
    cursor: no-drop;
}
.fa-pencil{
    color: orangered;
    font-size: x-large;
    cursor: pointer;
}
.fila-pais{
    display: none;
}
.no-cursor{
    cursor: no-drop;
}
.fila-departamento{
    display: none;
}
.departamento_mostrar{
    cursor: no-drop;
}
.fila-ciudad{
    display: none;
}
.ciudad_mostrar{
    cursor: no-drop;
}
.fila-comentario{
    margin-top: 1%;
}
.guardar_proveedor{
    color: #fff !important;
    margin-top: 2%;
}

.editar_proveedor{
    color: #fff !important;
    margin-top: 2%;
}
