.margen-butom{
    margin-bottom: 1%;
}
.ciudad_mostrar{
    cursor: no-drop;
}
.fila-ciudad{
    display: none;
}
.no-cursor{
    cursor: no-drop;
}
.departamento_mostrar{
    cursor: no-drop;
}
.fila-departamento{
    display: none;
}
.cambiar-ciudad{
    color: orangered;
    font-size: x-large;
    cursor: pointer;
}
.cambiar-departamento{
    color: orangered;
    font-size: x-large;
    cursor: pointer;
}
.cambiar-pais{
    color: orangered;
    font-size: x-large;
    cursor: pointer;
}
.fila-pais{
    display: none;
}
.pais_mostrar{
    cursor: no-drop;
}
.formulario{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

    -webkit-box-shadow: 7px 2px 17px 2px rgba(0,0,0,0.47);
    -moz-box-shadow: 7px 2px 17px 2px rgba(0,0,0,0.47);
    box-shadow: 7px 2px 17px 2px rgba(0,0,0,0.47);
}

.formulario1{
    margin: 2%;
    margin-left: 4%;
}

.logo{
    width: 250px !important;
    height: 250px !important;
    max-height: 250px !important;
    min-width: 250px !important;
    min-height: 250px !important;
}

.dropzone:after{
    content: 'Suelte su imagen aquí o haga clic para agregar un logo!' !important;
}

.guardar{
    color: #fff !important;
}
.guardar_editar{
    color: #fff !important;
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

logo-editar{

    background-size: 100%;
    background-position-x: center !important;
    background-position-y: center !important;
    background-repeat-x: no-repeat !important;
    background-repeat-y: no-repeat !important;
}
