.logo{
    width: 400px !important;
    height: 400px !important;
}

.izquierda{
    text-align: left;
}

.fila-pais{
    display: none;
}
.pais_mostrar{
    cursor: no-drop;
}

.lapiz{
    color: orangered;
    font-size: x-large;
    cursor: pointer;
}

.fila-departamento{
    display: none;
}

.departamento_mostrar{
    cursor: no-drop;
}
.no-cursor{
    cursor: no-drop;
}
.fila-ciudad{
    display: none;
}
.ciudad_mostrar{
    cursor: no-drop;
}
.margen-top{
    margin-top: 2%;
}
