.regresar-invitado{
    color: darkcyan;
    font-size: 4em;
}
.margin-top{
    margin-top: 1%;
}

.foto{
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
}

#guardar_invitado{
    color: #fff;
}
