#contenedor-exponente{
    background-color: #fff;
}

.crop{
    text-align: center;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}

.eliminar-maqui{
    color: red;
    cursor: pointer;
}

.img-maquinas{
    width: 150px;
}

.col-maquinas{
    text-align: center;
}

.foto-inv2{
    max-width: 40px !important;
    max-height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
}
.foto-inv{
    max-width: 113px !important;
    max-height: 113px !important;
    min-width: 113px !important;
    min-height: 113px !important;

}
.activar-funcionario{
    cursor: pointer;
}
.desactivar-funcionario{
    opacity: 0.5;
    cursor: no-drop;
}
.fa-3{
    font-size: 4em;
}

.eliminar{
    color: red !important;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-guardar{
    text-align: center;
    margin-top: 3%;
}

.parra{
    margin-bottom: 0;
    line-height: 1;
}
.parra a{
    text-decoration: none;
    color: #1D92AF;
}
.text-muted{
    font-size: 10px;
    color: #777;
}
