.inform {
    text-align: left;
}

p {
    line-height: 1.5;
    font-size: small;
    color: rgb(99, 99, 99);
    font-weight: 400;
    display: inline-block;
}

/*cards*/
.card{
    cursor: pointer;
}

.card-footer {
    background-color: #ffffff;
}

.avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

.avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cardheader {
    background: url("http://subtlepatterns.com/patterns/geometry2.png");
    background-size: cover;
    height: 135px;
}

.card-img-top {
    height: 130px;
}

.card-title > a:hover {
    text-decoration: none;
}


/*Buttons*/

.share-buttons {
    width: 100%;
    height: 100%;
    margin-left: 7%;
}

.share-buttons .share-button:after {
    clear: both;
    display: table;
}

a.share-button {
    text-decoration: none;
}

.share-button {
    display: inline-block;
    position: relative;
    height: 30px;
}

.share-button:hover {
    cursor: pointer;
}

.share-button:hover .share-button-primary {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
}

.share-button:hover .share-button-secondary-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.share-button-primary {
    position: absolute;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    left: 0;
    top: 50%;
    margin-top: -15px;
}

.share-button-icon {
    display: block;
    color: #242424;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 1px;
}

.share-button-secondary {
    overflow: hidden;
    margin-left: 15px;
    height: 30px;
}

.share-button-secondary-content {
    font-family: sans-serif;
    background: #fff;
    padding-left: 20px;
    padding-right: 7px;
    line-height: 30px;
    color: #242424;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 175ms ease;
    transition: -webkit-transform 175ms ease;
    transition: transform 175ms ease;
    transition: transform 175ms ease, -webkit-transform 175ms ease;
}
