.eliminar{
    color: red !important;
    font-size: 1.5em;
    cursor: pointer;
}
.fa-3{
    font-size: 4em;
}
.ocultar{
    display: none;
}
.activar-funcionario{
    cursor: pointer;
}
.desactivar-funcionario{
    opacity: 0.5;
    cursor: no-drop;
}
.parra{
    margin-bottom: 0;
    line-height: 1;
}
.parra a{
    text-decoration: none;
    color: #1D92AF;
}
.text-muted{
    font-size: 10px;
    color: #777;
}
.foto-inv2{
    max-width: 40px !important;
    max-height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
}
.foto-inv{
    max-width: 113px !important;
    max-height: 113px !important;
    min-width: 113px !important;
    min-height: 113px !important;

}
/*Botones activar */
.botones-activacion{
	font-size: 50px;
	background-color: white;
	padding: 50px;
	text-align: center;
}

/* Wrapper */
.icon-button {
	background-color: #ccc;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    /* font-size: 3rem; */
    height: 5.6rem;
    line-height: 3.6rem;
    margin: 0px 3px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 31%;
	margin: 0;
	position: absolute;
	top: 30%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.twitter2 span {
	background-color: #4099ff;
}
.facebook2 span {
	background-color: #3B5998;
}

/* Icons */
.icon-button i {
	background: none;
    color: white;
    height: 5.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 12px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 5.6rem;
    z-index: 10;
}
.icon-button .fa fa-male {
	color: #4099ff;
}
.icon-button .fa fa-users {
	color: #3B5998;
}

.icon-button:hover .fa fa-male,
.icon-button:hover .fa fa-users{
	color: white;
}
/*fin botones activar*/
/*Botones*/
.social {
    position: relative;
    height: 1em;
    width: 13.5em;
    margin: 150px 500px ;
}

@media screen and (max-width: 1367px) {
  .social {
      margin: 150px 300px !important;
  }
}

.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}

.social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.galeria {
    background: #919191;
    left: 0;
    top: 0%;
}

.twitter {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}

.links {
    background: #545454;
    left: 50%;
    top: 0%;
}
.behance {
    background: #3f7aa3;
    bottom: 0;
    left: 75%;
}
/*Fin Botones*/


.kv-avatar{
  height: 240px;
  min-height: 240px;
  max-height: 240px;
}
.kv-avatar .file-input{
    text-align: center;
    position: absolute;
    right: 27%;
}
p span{
    font-weight: bold;
}
.titulo{
    color: #000;
    font-weight: 100;
}

.titulo span{
    font-weight: bold;
}

.form-control-sm, .btn-sm{
    z-index: inherit !important;
}

.content {
    text-align: -webkit-auto;
}

html {
    font-size: 13px !important;
}

form {
    font-size: 13px !important;
}

.note-popover {
    display: none;
}

.form-control-sm, .btn-sm{
    z-index: inherit !important;
}

.content {
    text-align: -webkit-auto;
}

html {
    font-size: 13px !important;
}

form {
    font-size: 13px !important;
}

.note-popover {
    display: none;
}

.jumbotron{
    height: 100px;
    padding-top: 15px;
    background-color: #ffffff !important;
}
.mdl-grid,.dt-table{
  min-width: 100% !important;
}

.tooltip-inner {
  white-space: pre-wrap;
}

 .tooltip-inner {
    white-space: pre-wrap;
  }

  .subtitulo{
    text-transform: capitalize;
    margin-bottom: 4px;
    font-size: small;
    color: #54575a;
  }

  .biblioteca-img{
    border: solid 0px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 25%;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: auto!important;
    margin-left: auto!important;
  }

  .imgs-thumbnail{
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }

  .unalinea{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  img {
    border: 0px !important;
  }

  .main-menu > li {
    line-height: 10px !important;
  }

  .mas-pequeño{
    line-height: 1.5;
    font-size: small;
    color: #636363;
    font-weight: 400;
    display: inline-block !important;
  }

  .centrar-vertical{
    vertical-align: middle !important;
  }
  p.subtitulo.title {
      white-space: nowrap;
  }

/*.swal2-modal.swal2-show {
    width: 90% !important;
}*/

.swal2-modal.swal2-show > swal2-select {
    width: 40% !important;
}

.subtitulo {
    text-transform: inherit !important;
}

p.capitalize {
    font-size: small !important;
}

h2.titulo {
    font-size: 22px !important;
}

#Exponente .titulo{
    text-align: center;
}

.banner{
    min-width: 800px !important;
    max-width: 800px !important;
    min-height: 200px !important;
    max-height: 200px !important;
    margin-top: 2%;
}
.formulario_exponente{
    background-color: #fff;
}
.crop{
    text-align: center;
}
.eliminar-maqui{
    color: red;
    cursor: pointer;
}
.img-maquinas{
    width: 150px;
}
.col-maquinas{
    text-align: center;
}
.btn-guardar{
    text-align: center;
    margin-top: 3%;
}
#contenedor-exponente{
    display: none;
}
