/*Botones Activar*/
.botones-activacion{font-size:50px;background-color:#fff;padding:50px;text-align:center}.icon-button{background-color:#ccc;border-radius:3.6rem;cursor:pointer;display:inline-block;height:7.6rem;line-height:3.6rem;margin:0 3px;position:relative;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:7.6rem}.icon-button span{border-radius:0;display:block;height:0;left:31%;margin:0;position:absolute;top:30%;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;width:0}.icon-button:hover span{width:7.2rem;height:7.2rem;border-radius:3.6rem;margin:-2.15rem}.twitter2 span{background-color:#4099ff}.facebook2 span{background-color:#3B5998}.icon-button i{background:0 0;color:#fff;height:5.6rem;left:10px;line-height:3.6rem;position:absolute;top:19px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;width:5.6rem;z-index:10}.icon-button .fa fa-male{color:#4099ff}.icon-button .fa fa-users{color:#3B5998}.icon-button:hover .fa fa-male,.icon-button:hover .fa fa-users{color:#fff}
/*Fin Botones Activar*/
.img-maquinas{width: 150px;}.eliminar-maqui{color: red;cursor: pointer;}.activar-funcionario{cursor: pointer;}.desactivar-funcionario{opacity: 0.5;cursor: no-drop;}.foto-inv{max-width: 50px !important;max-height: 50px !important;min-width: 50px !important;min-height: 50px !important;}.foto-inv2{max-width: 40px !important;max-height: 40px !important;min-width: 40px !important;min-height: 40px !important;}.parra{margin-bottom:0;line-height:1}.parra a{text-decoration:none;color:#1D92AF}.fa-3{font-size: 2em;}.eliminar{color: red !important;font-size: 1.5em;cursor: pointer;}.swal2-shown{overflow-y:auto!important;}
.area-busqueda div input{
    -webkit-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.4);
    box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.4);
}
.bordes-redondos{
        border-radius: 10px 10px 10px 10px !important;
        -moz-border-radius: 10px 10px 10px 10px !important;
        -webkit-border-radius: 10px 10px 10px 10px !important;
        border: 0.5px solid #9e9e9e5c !important;
    }
    .bordes-redondos-derecha{
        border-radius: 0px 10px 10px 0px !important;
        -moz-border-radius: 0px 10px 10px 0px !important;
        -webkit-border-radius: 0px 10px 10px 0px !important;
        border: 0px solid #000000 !important;
    }
    .titulo{
        color: #072f9c!important;
    }
    .titulo small{
        color: #00289494!important;
    }
    .botn-ingresar{
        border: 1px solid transparent !important;
        border-radius: 4px !important;
        background-color: rgb(5, 73, 245) !important;
        border-color: rgb(5, 73, 245) !important;
        width: 170px !important;
        position: absolute !important;
        right: 5px !important;
        top: 5px !important;
    }
    .color-parrafo p{
        color: #757575 !important;
    }
    .crear{
        background-color: rgb(0, 145, 193) !important;
        cursor: pointer;
    }
    .calendario{
        background-color: rgb(150, 193, 0);
        cursor: pointer;
    }
    .calendario img{
        margin-top: 34% !important;
    }
    .calendario h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .feriasfuturas{
        background-color: rgb(0, 186, 193);
        cursor: pointer;
    }
    .feriasfuturas img{
        margin-top: 34% !important;
    }
    .feriasfuturas h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .exponente{
        background-color: rgb(44, 86, 134);
        cursor: pointer;
    }
    .exponente img{
        margin-top: 30% !important;
    }
    .exponente h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .visitante{
        background-color: rgb(184, 178, 0);
        cursor: pointer;
    }
    .visitante img{
        margin-top: 30% !important;
    }
    .visitante h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .no-asistidas {
        background-color: rgb(248, 72, 31);
        cursor: pointer;
    }
    .no-asistidas img{
        margin-top: 30% !important;
    }
    .no-asistidas h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .patrocinadores{
        background-color: rgb(68, 38, 38);
        cursor: pointer;
    }
    .patrocinadores h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .proveedores {
        background-color: rgb(45, 35, 78);
        cursor: pointer;
    }
    .proveedores h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .competencia {
        background-color: rgb(110, 136, 145);
        cursor: pointer;
    }
    .competencia h3{
        margin-left: -16px;
        bottom: 16px;
    }
    .fa-4{
        font-size: 7em;
    }
    .titulo-botones{
        color: #fff !important;
        font-size: x-large !important;
    }
    .alto-min{
        min-height: 100%;
    }
    .bg-white{
        background-color: #fff !important;
    }
    .color-calendario{
        color: #757575 !important;
    }
    .pie{
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
    }
    .for-numero{
        font-size: 90px;
        color: #565656;
    }
    .letra-btn-abajo{
        font-size: -webkit-xxx-large;
    }
    .calendario-pie{
        position: relative;
        top: 35%;
    }
/*Animaciones tomadas de animista.net*/
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
/*Fin Animaciones tomadas de animista.net*/

/*CSS listado Ferias futuras*/
.punto-futuras{
    background-color: rgb(0, 186, 193);
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border: 0px solid #000000;
    width: 90px;
    height: 90px;
    position: absolute;
    right: -5px;
}
.punto-futuras img{
    margin-top: 15px;
}
.linea-futuras{
    background-color: rgb(0, 186, 193);
    color: #fff;
    margin-top: 23px;
    height: 44px;
}
.buscar-futura{
    margin-left: 33%;
}
.buscar-futura input{
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border: 0px solid #000000;
    font-family: FontAwesome;
    width: 40%;
}

.buscar-futura input::-webkit-input-placeholder {
    text-align: right;
}
.buscar-futura input::-moz-placeholder {
    text-align: right;
}
.fila-feria-futura{
    margin-left: 6%;
}
.fila-feria-futura img{
    -webkit-box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.21);
    box-shadow: 6px 6px 16px 0px rgba(0,0,0,0.21);
}
/*Fin CSS listado Ferias futuras*/

/*CSS Listado ferias perdidas*/
.punto-perdida{
    background-color: rgb(248, 72, 31);
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border: 0px solid #000000;
    width: 90px;
    height: 90px;
    position: absolute;
    right: -5px;
}
.punto-perdida img{
    margin-top: 15px;
}
.linea-perdida{
    background-color: rgb(248, 72, 31);
    color: #fff;
    margin-top: 23px;
    height: 44px;
}
/*Fin CSS Listado ferias perdidas*/

/*CSS listado Ferias Exponente*/
.punto-exponente{
    background-color: rgb(44, 86, 134);
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border: 0px solid #000000;
    width: 90px;
    height: 90px;
    position: absolute;
    right: -5px;
}
.punto-exponente img{
    margin-top: 15px;
}
.linea-exponente{
    background-color: rgb(44, 86, 134);
    color: #fff;
    margin-top: 23px;
    height: 44px;
}
.imagen-exponente{
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #9e9e9e !important;
}
.color-exponente{
   color: rgb(44, 86, 134);
}
.color-exponente hr{
    margin-top:0;
    border-top-color: #2c5686;
    width: 64%;
    float: left;
}
.text-dark{
    color: #484747;
}
.fila-exponente{
    max-height: 200px;
}

.buscar-exponente{
    margin-left: 7%;
}
.buscar-exponente input{
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border: 0px solid #000000;
    font-family: FontAwesome;
    width: 93%;
}

.buscar-exponente input::-webkit-input-placeholder {
    text-align: right;
}
.buscar-exponente input::-moz-placeholder {
    text-align: right;
}
/*CSS fin listado ferias Exponente*/

/*CSS listado Ferias Visitante*/
.punto-visitante{
    background-color: rgb(184, 178, 0);
    border-radius: 250px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    border: 0px solid #000000;
    width: 90px;
    height: 90px;
    position: absolute;
    right: -5px;
}
.punto-visitante img{
    margin-top: 15px;
}
.linea-visitante{
    background-color:rgb(184, 178, 0);
    color: #fff;
    margin-top: 23px;
    height: 44px;
}
/*CSS fin listado ferias Visitante*/

/*Rollover listados*/
.area-listados{
    min-height: 50vh !important;
}
.area-listados html {
  min-height: 100%;
}

.area-listados body {
  background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756);
}

.area-listados h1 {
  color: white;
  padding-left: 10px;
}

.area-listados #hover {
  color: rgba(188, 175, 204, 0.9);
}

.area-listados h2#testimonials {
  color: #fffae3;
}

.area-listados div#all {
  width: 100%;
  height: 100%;
}


/* generic css */
.area-listados .img-derecha{
    float: right !important;
}
.area-listados .img-centro{
    position: absolute !important;
    left: 29% !important;
}
@media screen and (max-width: 1367px) {
    .area-listados .img-centro{
        position: absolute !important;
        left: 21% !important;
    }
}
.area-listados .view {
  margin: 10px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.area-listados .view .mask,
.area-listados .view .content {
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.area-listados .view img {
  display: block;
  position: relative
}

.area-listados .view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}

.area-listados .view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.area-listados .view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.area-listados .view a.info:hover {
  box-shadow: 0 0 5px #000
}


/*1*/

.area-listados .view-first img {
  /*1*/
  transition: all 0.2s linear;
  width: 300px;
  height: 200px;
}

.area-listados .view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.area-listados .view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.area-listados .view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.area-listados .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


/* */

.area-listados .view-first:hover img {
  transform: scale(1.1);
}

.area-listados .view-first:hover .mask {
  opacity: 1;
}

.area-listados .view-first:hover h2,
.area-listados .view-first:hover p,
.area-listados .view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.area-listados .view-first:hover p {
  transition-delay: 0.1s;
}

.area-listados .view-first:hover a.info {
  transition-delay: 0.2s;
}


/*2*/

.area-listados .view-second img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.area-listados .view-second .mask {
  background-color: rgba(12, 19, 27, 0.6);
  width: 300px;
  padding: 105px;
  height: 200px;
  opacity: 0;
  transform: translate(265px, 145px) rotate(45deg);
  -webkit-transform: translate(265px, 145px) rotate(45deg);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.area-listados .view-second h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Raleway, serif;
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.area-listados .view-second p {
  transform: translate(-200px, 200px);
  -webkit-transform: translate(200px, -200px);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.area-listados .view-second a.info {
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
  -webkit-transition: all 0.2s 0.1s ease-in-out;
}


/* */

.area-listados .view-second:hover .mask {
  opacity: 1;
  transform: translate(-80px, -125px) rotate(45deg);
  -webkit-transform: translate(-80px, -125px) rotate(45deg);
}

.area-listados .view-second:hover h2 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}

.area-listados .view-second:hover p {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.area-listados .view-second:hover a.info {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}


/*3*/

.area-listados .view-tenth img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
}

.area-listados .view-tenth .mask {
  background-color: #03585D;
  transition: all 0.5s linear;
  opacity: 0;
}

.area-listados .view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color: #fff;
  transition: all 0.5s linear;
  opacity: 0;
}

.area-listados .view-tenth p {
  color: #fff;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
  padding-
}

.area-listados .view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.area-listados .view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.area-listados .view-tenth:hover .mask {
  opacity: 1;
}

.area-listados .view-tenth:hover h2,
.area-listados .view-tenth:hover p,
.area-listados .view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}
/*Fin Rollover listados*/


/*ver feria posibles*/

.social {
    position: relative;
    height: 1em;
    width: 13.5em;
    margin: 150px 500px ;
}

@media screen and (max-width: 1367px) {
  .social {
      margin: 150px 300px !important;
  }
}

.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}

.social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.galeria {
    background: #919191;
    left: 0;
    top: 0%;
}

.twitter {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}

.links {
    background: #545454;
    left: 50%;
    top: 0%;
}
.behance {
    background: #3f7aa3;
    bottom: 0;
    left: 75%;
}

/*fin ver feria posibles*/
