.detalle{
    background-color: transparent;
    border: 0px solid;
    cursor: context-menu;
}
.quick-access{
    text-align: right;
}

.txt-total{
    text-align: right;
}

.alert-success{
    display: none;
    width: 215px;
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
}

.nav-pills>li+li {
    margin-left: 0px;
}

.eliminar{
    color: red;
    font-size: large;
    cursor: pointer;
    margin-top: 11px;
}
.agregar{
    color: green;
    font-size: -webkit-xxx-large;
    cursor: pointer;
}
.bg-white{
    background-color: white !important;
}
