.seleccionado{
    border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    -webkit-border-radius: 37px 37px 37px 37px;
    border: 0px solid #000000;
    text-align: left;
    cursor: pointer;
    background-color: rgb(116, 146, 232);
    margin-right: 1%;
}
.seleccionado a {
    color: #fff !important;

}
.col-md-1.col-archivo {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 203px;
    min-width: 103px;
    min-height: 103px;
    margin: 10px;
    padding: 0px;
}
.no_seleccionado{
    border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    -webkit-border-radius: 37px 37px 37px 37px;
    border: 1px solid #7492ea;
    cursor: pointer;
    text-align: left;
    margin-right: 1%;
}
.no_seleccionado a{
    color: #959699 !important;

}

.imagen{
    margin: 3%;
}

img.icono-video {
    width: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 100%;
}

.col-md-2.col-archivo {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 203px;
    min-width: 203px;
    min-height: 203px;
    margin: 10px;
    padding: 0px;
}

.margen-top{
    margin-top: 2%;
}
.icono-video{
    width: 100%;
    cursor: pointer;
}
.icono-video:hover {
     width: 95%;
}

.col-archivo{
    margin-left: 2%;
}

#cont-imagenes{
    display: none;
}

#cont-archivos{
    display: none;
}
