.margin-top{
    margin-top: 1%;
}
.agregar-invitado{
    color: green;
    font-size: 4em;
}
.cardheader {
    background: url("http://subtlepatterns.com/patterns/geometry2.png");
    background-size: cover;
    height: 135px;
}
.card-img-top {
    height: 130px;
}

.card-title > a:hover {
    text-decoration: none;
}

.avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

.avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*Buttons*/

.share-buttons {
    width: 100%;
    height: 100%;
    margin-left: 7%;
}

.share-buttons .share-button:after {
    clear: both;
    display: table;
}

a.share-button {
    text-decoration: none;
}

.share-button {
    display: inline-block;
    position: relative;
    height: 30px;
}

.share-button:hover {
    cursor: pointer;
}

.share-button:hover .share-button-primary {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
}

.share-button:hover .share-button-secondary-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.share-button-primary {
    position: absolute;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    left: 0;
    top: 50%;
    margin-top: -15px;
}

.share-button-icon {
    display: block;
    color: #242424;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 1px;
}

.share-button-secondary {
    overflow: hidden;
    margin-left: 15px;
    height: 30px;
}

.share-button-secondary-content {
    font-family: sans-serif;
    background: #fff;
    padding-left: 20px;
    padding-right: 7px;
    line-height: 30px;
    color: #242424;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 175ms ease;
    transition: -webkit-transform 175ms ease;
    transition: transform 175ms ease;
    transition: transform 175ms ease, -webkit-transform 175ms ease;
}


/*Board*/
#board_tabs li.active:after,li:after{content:" ";bottom:0}
    .modal-title{width:80%}
    #dialog_mdl,#dialog_mdl>.modal-content,#doc_container{width:100%!important;height:100%!important;margin-top:2%}
    .action_btn,.comment_btn{cursor:pointer}
    .board{width:100%;margin:60px auto;height:100%;background:#fff}
    .board h4{margin:0;padding:20px 0 0}
    .board .nav-tabs{width:30%;display:inline-block;position:relative;margin:40px auto 0;box-sizing:border-box}
    .board>div.board-inner{background:url(http://subtlepatterns.com/patterns/geometry2.png) #fafafa;background-size:30%}
    p.narrow{width:60%;margin:10px auto}
    #board_tabs li.active:after,.liner,li:after{position:absolute;margin:0 auto}
    .liner{height:2px;background:#ddd;width:40%;left:0;right:0;top:50%;z-index:1}
    #board_tabs.nav-tabs>li.active>a,#board_tabs.nav-tabs>li.active>a:focus,#board_tabs.nav-tabs>li.active>a:hover{color:#555;cursor:default;border:0;border-bottom-color:transparent}
    span.round-tabs{width:70px;height:70px;line-height:70px;display:inline-block;border-radius:100px;background:#fff;z-index:2;position:absolute;left:0;text-align:center;font-size:25px}
    span.round-tabs.one{color:#22c222;border:2px solid #22c222}
    li.active span.round-tabs.one{background:#fff!important;border:2px solid #ddd;color:#22c222}
    span.round-tabs.two{color:#febe29;border:2px solid #febe29}
    li.active span.round-tabs.two{background:#fff!important;border:2px solid #ddd;color:#febe29}
    span.round-tabs.three{color:#3e5e9a;border:2px solid #3e5e9a}
    li.active span.round-tabs.three{background:#fff!important;border:2px solid #ddd;color:#3e5e9a}
    span.round-tabs.four{color:#f1685e;border:2px solid #f1685e}
    li.active span.round-tabs.four{background:#fff!important;border:2px solid #ddd;color:#f1685e}
    span.round-tabs.five{color:#999;border:2px solid #999}
    li.active span.round-tabs.five{background:#fff!important;border:2px solid #ddd;color:#999}
    #board_tabs.nav-tabs>li.active>a span.round-tabs{background:#fafafa}
    #board_tabs.nav-tabs>li{width:50%}
    li:after{left:45%;opacity:0;border:5px solid transparent;border-bottom-color:#ddd;transition:.1s ease-in-out}
    #board_tabs li.active:after{left:49%;opacity:1;border:10px solid transparent;border-bottom-color:#ddd}
    #board_tabs.nav-tabs>li a{width:70px;height:70px;margin:20px auto;border-radius:100%;padding:0}
    .nav-tabs>li a:hover{background:0 0}
    .tab-content{ background-color: #f1f1f1 !important; }
    .tab-content .head{font-family:'Roboto Condensed',sans-serif;font-size:25px;text-transform:uppercase;padding-bottom:10px;}
    .btn-outline-rounded{padding:10px 40px;margin:20px 0;border:2px solid transparent;border-radius:25px}
    .btn.green{background-color:#5cb85c;color:#fff}
