#stars:hover{
    background-color: #1e87a0;
    border-color: #198099;
}

#favorites:hover{
    color: #fff;
    background-color: #7c848c;
    border-color: #666e76;
}
/* USER PROFILE PAGE */

.card-container {
    box-shadow: 0px 10px 20px -6px rgba(82, 82, 82, 0.5);
    padding: 0;
}

.well {
    margin-bottom: 0;
}

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
    /*height: 32vh;*/
}

.card.hovercard img {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
}

/*COMENTARIOS*/

.comment-wrap #messages_box textarea {
    font-size: 1.5rem;
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #555f77;
}

.comment-wrap #messages_box textarea::-webkit-input-placeholder {
    color: #ced2db;
}

.comment-wrap #messages_box textarea::-moz-placeholder {
    color: #ced2db;
}

.comment-wrap #messages_box textarea:-moz-placeholder {
    color: #ced2db;
}

.comment-wrap #messages_box textarea:-ms-input-placeholder {
    color: #ced2db;
}

.comments {
    overflow-y: scroll;
    background-color: #f0f2fa;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 600px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding: 1.5rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    background-size: cover;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: #000;
    font-weight: normal;
}

.bottom-comment {
    color: #acb4c2;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}

.comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: #0095ff;
}
