.fa-5{ font-size:  5em; }
.bg-white{ background-color: #fff; }
.question{ color: #364F8F; margin-top: 32px !important; font-size: 7em !important; }
.file-upload{ color: #02A8EA; margin-top: 32px !important; font-size: 7em !important; }
.commentary{ color: #125486; margin-top: 32px !important; font-size: 7em !important; }
.down{
    -webkit-transition-property: margin-top;
    -webkit-transition-duration: 1.5s;

    -moz-transition-property: margin-top;
    -moz-transition-duration: 1.5s;
    margin-top: 25%;
}
.up{
-webkit-transition-property: margin-top;
-webkit-transition-duration: 1.5s;

-moz-transition-property: margin-top;
-moz-transition-duration: 1.5s;
margin-top: 3%;
}
.close{
display: none;
}
/*Diseño Erik*/
.sombra-arriba{
    -webkit-box-shadow: -7px -9px 8px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: -7px -9px 8px -4px rgba(0,0,0,0.2);
    box-shadow: -7px -9px 8px -4px rgba(0,0,0,0.2);
}
.encabezado{
    color: #051d60;
    margin-left: 340px;
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .encabezado{
        margin-left: 239px;
    }
}

.border{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #d0d0d0;
}

.crear-conferencia{
    cursor: pointer;
}
.name-conference{
    color: #1b49ca !important;
}
.bg-white{
    background-color: white;
}
.title-conferencista{
    background-color: #2A3C48 !important;
    color: rgb(104, 210, 255);
}
.photo-speaker{
    width: 50px;
}
.eliminar-conferencista{
    cursor: pointer;
}
.R-conferncista{
    border-bottom: 1px solid #d0d0d0;
}
.sombra-cuadro{
    -webkit-box-shadow: -2px 3px 29px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 29px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 29px -4px rgba(0,0,0,0.75);
}
.cursor-mano{
    cursor: pointer;
}
.alto-fijo{
    min-height: 285px;
    max-height: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title-temas{
    background-color: #2A3C48 !important;
    color: rgb(150, 193, 0);
}
.R-tema{
    border-bottom: 1px solid #d0d0d0;
    height: 69.98px;
}
.title-ubicacion{
    background-color: #2A3C48 !important;
    color: rgba(255, 152, 0, 0.702);
}
.color-location{
    color: #9e9c9c;
}
/*Fin diseño ERIK*/


/* 3 BOTONES CSS */
/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

#menu-interno html, #menu-interno body, #menu-interno div, #menu-interno span, #menu-interno applet, #menu-interno object, #menu-interno iframe,
#menu-interno h1, #menu-interno h2, #menu-interno h3, #menu-interno h4, #menu-interno h5, #menu-interno h6, #menu-interno p, #menu-interno blockquote, #menu-interno pre,
#menu-interno a, #menu-interno abbr, #menu-interno acronym, #menu-interno address, #menu-interno big, #menu-interno cite, #menu-interno code,
#menu-interno del, #menu-interno dfn, #menu-interno em, #menu-interno img, #menu-interno ins, #menu-interno kbd, #menu-interno q, #menu-interno s, #menu-interno samp,
#menu-interno small, #menu-interno strike, #menu-interno strong, #menu-interno sub, #menu-interno sup, #menu-interno tt, #menu-interno var,
#menu-interno b, #menu-interno u, #menu-interno i, #menu-interno center,
#menu-interno dl, #menu-interno dt, #menu-interno dd, #menu-interno ol, #menu-interno ul, #menu-interno li,
#menu-interno fieldset, #menu-interno form, #menu-interno label, #menu-interno legend,
#menu-interno table, #menu-interno caption, #menu-interno tbody, #menu-interno tfoot, #menu-interno thead, #menu-interno tr, #menu-interno th, #menu-interno td,
#menu-interno article, #menu-interno aside, #menu-interno canvas, #menu-interno details, #menu-interno embed,
#menu-interno figure, #menu-interno figcaption, #menu-interno footer, #menu-interno header, #menu-interno hgroup,
#menu-interno menu, #menu-interno nav, #menu-interno output, #menu-interno ruby, #menu-interno section, #menu-interno summary,
#menu-interno time, #menu-interno mark, #menu-interno audio, #menu-interno video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#menu-interno article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
#menu-interno body {
	line-height: 1;
}
#menu-interno ol, ul {
	list-style: none;
}
#menu-interno blockquote, q {
	quotes: none;
}
#menu-interno blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
#menu-interno table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CONTENT */

#menu-interno body {
    text-align: center;
    padding-top: 10%;
}

#menu-interno li {
    margin: 0 50px 50px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

#menu-interno li a > div {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 200px;
    text-align: center;
    border-radius: 4px;
}

#menu-interno li:first-child a > div,
#menu-interno li:last-child a > div {
    width: 200px;
}

#menu-interno li a {
    color: #A8A8A8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#menu-interno li .layer2 {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 25px 0 rgba(00, 00, 00, 0.15);
    box-shadow: 0 0 25px 0 rgba(00, 00, 00, 0.15);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#menu-interno li:first-child .layer2,
#menu-interno li:last-child .layer2 {
    left: 0px;
    width: 200px;
}


/* hover layer effects */

#menu-interno li a:hover .layer2 {
    top: -40px;
    left: -10px;
    width: 200px;
}

#menu-interno li:first-child a:hover .layer2 {
    top: -40px;
    left: -40px;
}

#menu-interno li:last-child a:hover .layer2 {
    top: -40px;
    left: 40px;
}


/* Layer content */

#menu-interno svg {
    height: 42px;
    margin-top: 80px;
}

#menu-interno .nb {
    font-size: 37px;
    padding-top: 0px;
}

#menu-interno li .textlink {
    position: absolute;
    bottom: 13px;
    right: 40px;
    left: 40px;
    color: white;
    font-size: 14px;
    text-align: center;
}

#menu-interno li:first-child .textlink {
    text-align: right;
}

#menu-interno li:last-child .textlink {
    text-align: left;
}


/* Facebook */

#fb {
    background: #364F8F;
}


/* Twitter */

#tw {
    background: #02A8EA;
}


/* Instagram */

#insta {
    background: #125486;
}



/*COMENTARIOS*/
/*COMENTARIOS*/

textarea {
    font-size: 1.5rem;
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #555f77;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ced2db;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ced2db;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ced2db;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ced2db;
}

.comments {
    overflow-y: scroll;
    background-color: #f0f2fa;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 600px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding: 1.5rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    background-size: cover;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: #000;
    font-weight: normal;
}

.bottom-comment {
    color: #acb4c2;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}

.comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: #0095ff;
}
/*FIN COMENTARIOS*/
