
    .bloque-datos {
         text-align: -webkit-left;
         margin-top: 20px;
     }

     .ocultar {
       display: none;
     }

    .moment-medio .archivo-contenedor {
         float: right;
         font-size: 15px;
         cursor: pointer;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
         color: #00bcd4;
     }

    .moment-medio span.estado {
         font-size: 15px;
         background: #00BCD4;
         color: #fff;
         padding: 3px;
         border-radius: 3px;
         font-weight: bold;
     }

    .moment-arriba span.fecha {
         float: right;
         font-size: 12px;
     }

    .moment-arriba span.user-archivo {
         font-size: 15px;
         font-weight: bold;
         color: #001862;
     }

     span.comentario {
         font-size: 15px;
     }

     .moment-medio {
         padding-bottom: 4px;
     }

    img.imag-avatar {
         border-radius: 50%;
         max-width: 60px;
         float: left;
         margin: 0px 6px 0px 0px;
     }
    .form-control.file-caption.kv-fileinput-caption {
         height: 54px;
     }
    /*css load*/
    .cssload-thecube {
         width: 253px;
         height: 253px;
         margin: 0 auto;
         margin-top: 99px;
         margin-bottom: 120px;
         position: relative;
         transform: rotateZ(45deg);
             -o-transform: rotateZ(45deg);
             -ms-transform: rotateZ(45deg);
             -webkit-transform: rotateZ(45deg);
             -moz-transform: rotateZ(45deg);
     }
     .cssload-thecube .cssload-cube {
         position: relative;
         transform: rotateZ(45deg);
             -o-transform: rotateZ(45deg);
             -ms-transform: rotateZ(45deg);
             -webkit-transform: rotateZ(45deg);
             -moz-transform: rotateZ(45deg);
     }
     .cssload-thecube .cssload-cube {
         float: left;
         width: 50%;
         height: 50%;
         position: relative;
         transform: scale(1.1);
             -o-transform: scale(1.1);
             -ms-transform: scale(1.1);
             -webkit-transform: scale(1.1);
             -moz-transform: scale(1.1);
     }
     .cssload-thecube .cssload-cube:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgb(43,160,199);
         animation: cssload-fold-thecube 3.84s infinite linear both;
             -o-animation: cssload-fold-thecube 3.84s infinite linear both;
             -ms-animation: cssload-fold-thecube 3.84s infinite linear both;
             -webkit-animation: cssload-fold-thecube 3.84s infinite linear both;
             -moz-animation: cssload-fold-thecube 3.84s infinite linear both;
         transform-origin: 100% 100%;
             -o-transform-origin: 100% 100%;
             -ms-transform-origin: 100% 100%;
             -webkit-transform-origin: 100% 100%;
             -moz-transform-origin: 100% 100%;
     }
     .cssload-thecube .cssload-c2 {
         transform: scale(1.1) rotateZ(90deg);
             -o-transform: scale(1.1) rotateZ(90deg);
             -ms-transform: scale(1.1) rotateZ(90deg);
             -webkit-transform: scale(1.1) rotateZ(90deg);
             -moz-transform: scale(1.1) rotateZ(90deg);
     }
     .cssload-thecube .cssload-c3 {
         transform: scale(1.1) rotateZ(180deg);
             -o-transform: scale(1.1) rotateZ(180deg);
             -ms-transform: scale(1.1) rotateZ(180deg);
             -webkit-transform: scale(1.1) rotateZ(180deg);
             -moz-transform: scale(1.1) rotateZ(180deg);
     }
     .cssload-thecube .cssload-c4 {
         transform: scale(1.1) rotateZ(270deg);
             -o-transform: scale(1.1) rotateZ(270deg);
             -ms-transform: scale(1.1) rotateZ(270deg);
             -webkit-transform: scale(1.1) rotateZ(270deg);
             -moz-transform: scale(1.1) rotateZ(270deg);
     }
     .cssload-thecube .cssload-c2:before {
         animation-delay: 0.48s;
             -o-animation-delay: 0.48s;
             -ms-animation-delay: 0.48s;
             -webkit-animation-delay: 0.48s;
             -moz-animation-delay: 0.48s;
     }
     .cssload-thecube .cssload-c3:before {
         animation-delay: 0.96s;
             -o-animation-delay: 0.96s;
             -ms-animation-delay: 0.96s;
             -webkit-animation-delay: 0.96s;
             -moz-animation-delay: 0.96s;
     }
     .cssload-thecube .cssload-c4:before {
         animation-delay: 1.44s;
                 -o-animation-delay: 1.44s;
                 -ms-animation-delay: 1.44s;
                 -webkit-animation-delay: 1.44s;
                 -moz-animation-delay: 1.44s;
         }



         @keyframes cssload-fold-thecube {
             0%, 10% {
                 transform: perspective(473px) rotateX(-180deg);
                 opacity: 0;
             }
             25%,
                         75% {
                 transform: perspective(473px) rotateX(0deg);
                 opacity: 1;
             }
             90%,
                         100% {
                 transform: perspective(473px) rotateY(180deg);
                 opacity: 0;
             }
         }

         @-o-keyframes cssload-fold-thecube {
             0%, 10% {
                 -o-transform: perspective(473px) rotateX(-180deg);
                 opacity: 0;
             }
             25%,
                         75% {
                 -o-transform: perspective(473px) rotateX(0deg);
                 opacity: 1;
             }
             90%,
                         100% {
                 -o-transform: perspective(473px) rotateY(180deg);
                 opacity: 0;
             }
         }

         @-ms-keyframes cssload-fold-thecube {
             0%, 10% {
                 -ms-transform: perspective(473px) rotateX(-180deg);
                 opacity: 0;
             }
             25%,
                         75% {
                 -ms-transform: perspective(473px) rotateX(0deg);
                 opacity: 1;
             }
             90%,
                         100% {
                 -ms-transform: perspective(473px) rotateY(180deg);
                 opacity: 0;
             }
         }

         @-webkit-keyframes cssload-fold-thecube {
             0%, 10% {
                 -webkit-transform: perspective(473px) rotateX(-180deg);
                 opacity: 0;
             }
             25%,
                         75% {
                 -webkit-transform: perspective(473px) rotateX(0deg);
                 opacity: 1;
             }
             90%,
                         100% {
                 -webkit-transform: perspective(473px) rotateY(180deg);
                 opacity: 0;
             }
         }

         @-moz-keyframes cssload-fold-thecube {
             0%, 10% {
                 -moz-transform: perspective(473px) rotateX(-180deg);
                 opacity: 0;
             }
             25%,
                         75% {
                 -moz-transform: perspective(473px) rotateX(0deg);
                 opacity: 1;
             }
             90%,
                         100% {
                 -moz-transform: perspective(473px) rotateY(180deg);
                 opacity: 0;
             }
         }
    /*fin css load*/

    .top-content ul.quick-access > li {
         width: 9em;
         padding: 0;
     }
    input.form-control.input-sm {
         height: 15px !important;
         border-radius: 6px;
         font-family: FontAwesome, Roboto;
     }
    .unalinea {
         white-space: nowrap;
     }
    .div-btn {
         display: -webkit-inline-box;
         padding: 2px;
         margin: 1px;
         cursor: pointer;
     }
    .textoajustado {
         font-size: 12px;
         text-align: -webkit-center;
         padding: 0px;
         margin: 0px;
         line-height: 12px !important;
         display: inline-block !important;
     }
    table.dataTable thead .row-filter input {
         width: 85% !important;
     }

    .slide-in-bck-top {
         -webkit-animation: slide-in-bck-top 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2s both;
       animation: slide-in-bck-top 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2s both;
     }

    @-webkit-keyframes slide-in-bck-top {
       0% {
         -webkit-transform: translateZ(700px) translateY(-300px);
                 transform: translateZ(700px) translateY(-300px);
         opacity: 0;
       }
       100% {
         -webkit-transform: translateZ(0) translateY(0);
                 transform: translateZ(0) translateY(0);
         opacity: 1;
       }
     }
     @keyframes slide-in-bck-top {
       0% {
         -webkit-transform: translateZ(700px) translateY(-300px);
                 transform: translateZ(700px) translateY(-300px);
         opacity: 0;
       }
       100% {
         -webkit-transform: translateZ(0) translateY(0);
                 transform: translateZ(0) translateY(0);
         opacity: 1;
       }
     }

    .slide-in-elliptic-left-fwd {
         -webkit-animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
                 animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
     }

    .slide-in-elliptic-left-fwd2 {
         -webkit-animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
                 animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
     }

    .slide-in-elliptic-left-fwd3 {
         -webkit-animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
                 animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
     }

    .slide-in-elliptic-left-fwd0 {
         -webkit-animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
                 animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
     }

    .slide-in-elliptic-left-fwd-tamble{
        -webkit-animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
                 animation: slide-in-elliptic-left-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    }

    @-webkit-keyframes slide-in-elliptic-left-fwd {
       0% {
         -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
                 transform: translateX(-800px) rotateY(30deg) scale(0);
         -webkit-transform-origin: -100% 50%;
                 transform-origin: -100% 50%;
         opacity: 0;
       }
       100% {
         -webkit-transform: translateX(0) rotateY(0) scale(1);
                 transform: translateX(0) rotateY(0) scale(1);
         -webkit-transform-origin: 1800px 50%;
                 transform-origin: 1800px 50%;
         opacity: 1;
       }
     }
     @keyframes slide-in-elliptic-left-fwd {
       0% {
         -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
                 transform: translateX(-800px) rotateY(30deg) scale(0);
         -webkit-transform-origin: -100% 50%;
                 transform-origin: -100% 50%;
         opacity: 0;
       }
       100% {
         -webkit-transform: translateX(0) rotateY(0) scale(1);
                 transform: translateX(0) rotateY(0) scale(1);
         -webkit-transform-origin: 1800px 50%;
                 transform-origin: 1800px 50%;
         opacity: 1;
       }
     }

    .puff-in-center {
         -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 6s both;
                 animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 6s both;
     }

    @-webkit-keyframes puff-in-center {
       0% {
         -webkit-transform: scale(2);
                 transform: scale(2);
         -webkit-filter: blur(2px);
                 filter: blur(2px);
         opacity: 0;
       }
       100% {
         -webkit-transform: scale(1);
                 transform: scale(1);
         -webkit-filter: blur(0px);
                 filter: blur(0px);
         opacity: 1;
       }
     }
     @keyframes puff-in-center {
       0% {
         -webkit-transform: scale(2);
                 transform: scale(2);
         -webkit-filter: blur(2px);
                 filter: blur(2px);
         opacity: 0;
       }
       100% {
         -webkit-transform: scale(1);
                 transform: scale(1);
         -webkit-filter: blur(0px);
                 filter: blur(0px);
         opacity: 1;
       }
     }


     #formGuardar p {
         text-align: left;
         font-size: 15px;
         margin-bottom: 0px;
         padding: 0px;
     }


    .slide-in-bottom {
         -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                 animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     }

    @-webkit-keyframes slide-in-bottom {
       0% {
         -webkit-transform: translateY(1000px);
                 transform: translateY(1000px);
         opacity: 0;
       }
       100% {
         -webkit-transform: translateY(0);
                 transform: translateY(0);
         opacity: 1;
       }
     }
     @keyframes slide-in-bottom {
       0% {
         -webkit-transform: translateY(1000px);
                 transform: translateY(1000px);
         opacity: 0;
       }
       100% {
         -webkit-transform: translateY(0);
                 transform: translateY(0);
         opacity: 1;
       }
     }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
         vertical-align: inherit !important;
     }

    .swal2-modal.swal2-noanimation.swal2-show {
        min-width: 80%;
    }
