html, body{color:#636b6f;font-family:Roboto;font-weight:400;height:100vh;margin:0;}
.col-3.col-sm-2.placeholder{padding-bottom:35px;}
main{background-color:white;padding:40px;margin:40px;border-radius:.45rem;-webkit-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;-moz-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;}
h2{font-weight:900;}
h1, h2, h3, h4, h5, h6, p, label{color:#051d60;}
label, p{font-weight:600;}
h5.card-header{font-weight:900;background-color:#051d60;border-color:#051d60;color:white;}
.full-height{height:100vh;}
.flex-center{align-items:center;display:flex;justify-content:center;}
.position-ref{position:relative;}
.top-right{position:absolute;right:10px;top:18px;}
.content{text-align:center;}
.title{font-size:84px;}
.m-b-md{margin-bottom:30px;}
.img-peque{width:34px;}
.tree, .tree ul{margin:0;padding:0;list-style:none}
.tree ul{margin-left:1em;position:relative}
.tree ul ul{margin-left:.5em}
.tree ul:before{content:"";display:block;width:0;position:absolute;top:0;bottom:0;left:0;border-left:1px solid}
.tree li{margin:0;padding:0 1em;line-height:2em;color:#369;font-weight:700;position:relative}
.tree ul li:before{content:"";display:block;width:10px;height:0;border-top:1px solid;margin-top:-1px;position:absolute;top:1em;left:0}
.tree ul li:last-child:before{background:#fff;height:auto;top:1em;bottom:0}
.indicator{margin-right:5px;}
.tree li a{text-decoration:none;color:#369;}
.tree li button, .tree li button:active, .tree li button:focus{text-decoration:none;color:#369;border:none;background:transparent;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;outline:0;}
.text-muted{color:white;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-transform:capitalize;}
.caja{position:absolute;top:10%;left:50%;transform:translate(-40%);}
.fade.show{opacity:.9 !important;}
/*.modal-dialog{margin:200px auto !important;}*/
.modal-dialog{margin-top: 15% !important;}
#play_video_modal{max-width:100% !important;max-height:100% !important;}
#Video1{min-height:auto;min-width:80%;max-height:800px;}
#play_video_modal{min-width:100% !important;background-color:rgba(165, 42, 42, 0);}
/*#myModal, .modal-lg, #modal_video{min-width:75% !important;min-height:100% !important;}*/
#myModal/*, .modal-lg*/, #modal_video{min-width:100% !important;}
video::-webkit-media-controls{display:none;}
video::-webkit-media-controls-play-button{}
video::-webkit-media-controls-volume-slider{}
video::-webkit-media-controls-mute-button{}
video::-webkit-media-controls-timeline{}
video::-webkit-media-controls-current-time-display{}
html:-moz-full-screen{background:red;}
html:-webkit-full-screen{background:red;}
html:-ms-fullscreen{background:red;width:100%;}
html:fullscreen{background:red;}
.video_button{background-color:rgba(204, 204, 204, 0.44);border-color:rgba(127, 255, 0, 0);}
#buttonbar{background-color:#051d60;width:80%;}
#buttonbar:-moz-full-screen{min-width:100% !important;min-height:10% !important;}
#buttonbar:-webkit-full-screen{min-width:100% !important;min-height:10% !important;}
#buttonbar:-ms-fullscreen{min-width:100% !important;min-height:10% !important;width:100%;}
#buttonbar:fullscreen{min-width:10% !important;min-height:100% !important;}
#Video1:-moz-full-screen{min-width:100% !important;min-height:90% !important;}
#Video1:-webkit-full-screen{min-height:10% !important;max-height:10% !important;height:10%;min-width:95%;width:95%;}
#Video1:-ms-fullscreen{min-width:100% !important;min-height:90% !important;}
#Video1:fullscreen{min-width:95% !important;min-height:90% !important;max-height:1000px !important;}
.caja:-webkit-full-screen{position:absolute;top:0px;left:0px;transform:translate(2.5%);}
#play_video_modal:-webkit-full-screen{width:100% !important;}
.caja:-webkit-full-screen #Video1{min-width:95%;width:95%;}
.caja:-webkit-full-screen #buttonbar{min-width:95%;width:95%;}
#section_images{margin:2% auto;width:215px;height:150px;position:relative;perspective:900px;}
#carousel{width:100%;height:100%;position:absolute;transform-style:preserve-3d;animation:rotation 20s infinite linear;}
#carousel:hover{animation-play-state:paused;}
#carousel figure{display:block;position:absolute;width:90%;height:100%;left:0px;right:0px;top:0px;background:black;overflow:hidden;border:solid 2px black;}
.mejorar{cursor:pointer;-webkit-transition-property:left, top, background, -webkit-transform;-webkit-transition-duration:50s, 50s, 50s, 50s;-webkit-transition-timing-function:ease-out, ease-in, linear, ease-in-out;-webkit-transition-delay:50, 50, 50, 50s;transition:all .50s ease-in-out;-webkit-filter:contrast(180%);filter:contrast(180%);}
img.rotate{width:100% !important;height:100% !important;}
img.menu:hover{-webkit-transform:rotate(360deg) scale(1.25);-moz-transform:rotate(360deg) scale(1.25);-o-transform:rotate(360deg) scale(1.25);transform:rotate(360deg) scale(1.25);-webkit-filter:contrast(180%);filter:contrast(180%);}
.blueimp-gallery>.indicator>li:hover{-webkit-transform:scale(1.80);-moz-transform:scale(1.80);-o-transform:scale(1.80);transform:scale(1.80);-webkit-filter:contrast(180%);filter:contrast(180%);}
.blueimp-gallery>.indicator>li{cursor:pointer !important;-webkit-transition-property:left, top, background, -webkit-transform !important;-webkit-transition-duration:0s, 0s, 0s, 0s !important;-webkit-transition-timing-function:ease-out, ease-in, linear, ease-in-out !important;-webkit-transition-delay:0, 0, 0, 0s !important;transition:all .0s ease-in-out !important;-webkit-background-size:cover !important;-moz-background-size:cover !important;-o-background-size:cover !important;background-size:cover !important;-webkit-filter:contrast(180%);filter:contrast(180%) !important;}
@keyframes rotation{from{transform:rotateY(0deg);}
to{transform:rotateY(360deg);}
}
.blueimp-gallery>.indicator>li{width:60px !important;height:60px !important;}
.resaltarnav{background-color:#051d60;padding:.40em .10em;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;}
button.close{padding:0;cursor:pointer;background:0 0;border:0;float:right;-webkit-appearance:none;/*position:absolute;*/right:0;margin-right:12px;}
/*.modal-header{height:40px !important;text-align:center !important;border-bottom:0 !important;}*/
.modal-title{color:#034bdb;font-size:22px !important; /*right:0 !important;left:50px !important;position:absolute !important;width:90%;margin-left:5%;border-bottom:1px solid #eceeef;*/}
/*.modal-content{margin-top:0px;}*/
/*@media (max-width:600px){.modal-content{width:360px;}
}*/
.amcharts-chart-div a{display:none !important;}
#chartdiv{width:100%;height:500px;}
th{font-weight:bold;}
.inline-block{display:inline-block;}
.table td{line-height:2;font-size:15px !important;padding:.7px;vertical-align:middle;}
#archivos img{margin:5px;}
.display-line{display:inline;}
.logo-essi-modal{position:absolute;margin-top:15px;}
.alert, .badge, .breadcrumb, /*.card, .card .card-header,*/ .dropdown-menu, .file-custom, .input-group-addon, .jumbotron/*, .list-group .list-group-item*/, .nav .nav-link, .nav-tabs, .navbar, .navbar-toggler, .page-item:first-child .page-link, .page-item:last-child .page-link, .pagination-lg .page-item:first-child .page-link, .pagination-lg .page-item:last-child .page-link, .pagination-sm .page-item:first-child .page-link, .pagination-sm .page-item:last-child .page-link, .popover, .tooltip-inner, img{border:none !important;}
.white{color:#ffffff;}
.margen-1{margin:1px;}
.btn-essi{color:#fff;background-color:#051d60;border-color:#051d60;}
.normal_a{color:#636b6f;text-decoration:none !important;}
.contenido{background:#fff;border-radius:15px 15px 15px 15px;-moz-border-radius:15px 15px 15px 15px;-webkit-border-radius:15px 15px 15px 15px;border:0px solid #fff;margin-top:20px;}
.centrado{text-align:center;}
.letra-gris{color:#54575a;font-size:larger;}
.block{display:block;}
.select2{width:100% !important;}
#chartdiv{width:100%;height:500px;}
#chartdiv2{width:100%;height:500px;}
#chartdiv3{width:100%;height:500px;}
#chartdiv4{width:100%;height:500px;margin:auto;}
.fondo_title{padding:5px;min-width:100%;border:0px solid #e6e6e6;border-radius:26px 26px 26px 26px;-moz-border-radius:26px 26px 26px 26px;-webkit-border-radius:26px 26px 26px 26px;border:0px solid #e6e6e6;background-color:#e6e6e6;}
.input-disable{color:#3a3b3b;background-color:#ddd !important;background-clip:padding-box !important;border:2px solid rgba(0,0,0,.15) !important;border-radius:.0rem !important;}
.txtr3{white-space:pre-wrap;word-wrap:break-word;height:auto;font-size:17px;font-weight:600;font-family:Roboto !important;text-align:left;}
.logo-essi{animation:blink 3s infinite;transition:all .2s ease-in-out;}
.logo-essi:hover{transform:scale(1.8);}
@keyframes type{from{width:0;}
}
@keyframes type2{0%{width:0;}
50%{width:0;}
100%{width:100;}
}
@keyframes blink{to{opacity:.0;}
}
::selection{background:black;}
*{font-family:Roboto;}
.btn{font-family:Roboto;}
.contenedor{margin:auto;display:table;}
h1{position:relative;float:left;color:#fff;font-size:18px;}
h1 span{position:absolute;right:0;width:0;background:#051d60;border-left:1px solid #000;animation:escribir 10s steps(88) infinite alternate;}
@keyframes escribir{from{width:100%}
to{width:0}
}
.logo-essi2{animation:blink 1s infinite;transition:all .2s ease-in-out;}
.logo-essi2:hover{transform:scale(1.8);}
img.img-fluid.rounded-circle.menu{max-width:25%;}
body,html{height:100%;}
#inferior{color:#FFF;background:#051d60;font-size:22px;position:absolute;left:0px;right:0px;bottom:0px;height:50px;z-index:0;font-family:Roboto;}
.magnify{position:relative;cursor:none}
.magnify-large{position:absolute;display:none;width:500px;height:500px;-webkit-box-shadow:0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);-moz-box-shadow:0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);box-shadow:0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.logo-essi-video{position:fixed;z-index:1;right:12%;top:3%;opacity:0.7;width:10%;}
#loader{z-index:999999;display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:url("/images/logo.png") 50% 50% no-repeat #cccccc;}
body{background-image:url("/images/fondo.png");}
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover{margin:0;padding:0;border:none;box-shadow:none;text-align:center;}
.kv-avatar .file-input{display:table-cell;max-width:220px;}
html, body{margin:0;padding:0;}
.coordinates{position:relative;bottom:21px;left:50%;width:499px;height:40px;margin:0 0 0 -250px;text-align:center;line-height:50px;color:#fff;z-index:1;}
.coordinates em.lat{left:0;}
.coordinates em{position:absolute;top:-20px;width:249px;height:20px;background:rgba(0,0,0,0.75);color:#fff;font-style:normal;letter-spacing:1px;font-size:12px;line-height:21px;text-transform:uppercase;font-weight:normal;}
.coordinates #lng{float:right;}
.coordinates input{display:block;float:left;width:249px;font-size:18px;line-height:40px;background:#000;text-align:center;color:#fff;border:none;-webkit-transition:all .2s;transition:all .2s;}
.logo-empresa-fotante{border-radius:50%;width:200px;height:200px;top:-100px !important;position:relative;border-color:white;-webkit-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;-moz-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;}
.c-datepicker__header-date{height:180px !important;}
.c-datepicker__clock{padding:180px 0 140px 0 !important;}
.jumbotron{background-color:white !important;}
div#map{height:300px !important;}
.table-responsive{max-width:100% !important;min-width:calc(100%) !important;width:100% !important;}
.mdl-grid{width:100%;}
.rounded-circle{border-radius:50% !important;}
#chartdiv{-webkit-box-sizing:content-box !important;box-sizing:content-box !important;}
.hijo2, .table{overflow:hidden;}
img.img-fluid{border:0px !important;}
.caret{display:none;}
.jumbotron{text-align:initial !important;height:100% !important;}
.btn.btn-flat.btn-sm{color:#323030 !important;font-weight:bold !important;}
.btn.btn-sm{padding:.5rem 0.6rem !important;margin:0px !important;font-size:12px !important;font-weight:400 !important;font-family:Roboto !important;}
label{font-family:Roboto;font-size:1.5rem !important;font-weight:400;}
.btn.btn-sm .fa{font-size:1rem !important;}
.titulo{font-weight:bold !important;color:#051d60 !important;font-size:2.5rem !important;}
.titulo1{font-weight:bold !important;color:#051d60 !important;font-size:1.5rem !important;}
.subtitulo{text-transform:lowercase;margin-bottom:4px !important;font-size:small !important;color:#54575a !important;}
.subtitulo2{text-transform:lowercase;margin-bottom:4px !important;font-size:14px !important;color:#051d60 !important;font-weight:bold !important;}
.subtitulo3{text-transform:lowercase;margin-bottom:4px !important;font-size:14px !important;color:#54575a !important;font-weight:bold !important;}
.hijo{margin-left:auto !important;margin-right:auto !important;margin-top:auto !important;margin-bottom:auto !important;width:50% !important;text-align:left !important;}
.hijo2{margin-left:auto !important;margin-right:auto !important;margin-top:auto !important;margin-bottom:auto !important;width:80% !important;text-align:left !important;}
.tex-hijo{display:inline-block !important;vertical-align:middle !important;line-height:normal !important;}
/*.alert, .badge, .breadcrumb, .card, .card .card-header, .dropdown-menu, .file-custom, .input-group-addon, .jumbotron, .list-group .list-group-item, .nav .nav-link, .nav-tabs, .navbar, .navbar-toggler, .page-item:first-child .page-link, .page-item:last-child .page-link, .pagination-lg .page-item:first-child .page-link, .pagination-lg .page-item:last-child .page-link, .pagination-sm .page-item:first-child .page-link, .pagination-sm .page-item:last-child .page-link, .popover, .tooltip-inner, img{-webkit-border-radius:2px !important;-moz-border-radius:2px !important;-ms-border-radius:2px !important;-o-border-radius:2px !important;border-radius:0px !important;border:solid 1px rgba(0, 0, 0, 0.09) !important;}*/
.list-group-item{padding-top:5px /*!important*/;padding-bottom:5px /*!important*/;margin-bottom:5px /*!important*/;}
.panel-view{-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.75) !important;-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.75) !important;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.75) !important;margin-bottom:20px !important;background-color:#fff !important;width:100% !important;margin:12px !important;border-radius:10px 10px 10px 10px !important;-moz-border-radius:10px 10px 10px 10px !important;-webkit-border-radius:10px 10px 10px 10px !important;position:absolute;overflow:hidden !important;}
.observaciones-img{width:60px !important;}
.observaciones-p{font-size:small !important;}
.observaciones-title{font-size:larger;!important;font-weight:bold !important;}
.boton{zoom:2 !important;vertical-align:baseline !important;cursor:pointer !important;text-decoration:none !important;font:12px Arial !important;padding:.5em !important;text-shadow:0 1px 1px rgba(0,0,0,.3) !important;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2) !important;-moz-box-shadow:0 1px 2px rgba(0,0,0,.2) !important;box-shadow:0 1px 2px rgba(0,0,0,.2) !important;}
.boton:hover{text-decoration:none !important;}
.redondo{-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;}
.negro{color:#051d60 !important;border:solid 1px #d7d7d7 !important;background:#fff !important;}
.negro:hover{background:#000 !important;background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#000)) !important;background:-moz-linear-gradient(top, #444, #000) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000') !important;}
#chartdiv{height:100% !important;}
html, body{height:100% !important;margin:0 !important;padding:0 !important;}
.profile-empresa{margin-right:auto!important;margin-left:auto!important;margin-top:auto!important;margin-bottom:auto!important;width:250px !important;height:250px !important;-webkit-border-radius:200px 200px 200px 200px !important;position:relative !important;-webkit-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;-moz-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;overflow:hidden !important;background-color:#fff !important;}
.img-empresa{padding:30px !important;border:solid 0px !important;line-height:140 !important;position:absolute !important;display:table-cell !important;vertical-align:middle !important;text-align:center !important;top:50% !important;bottom:50% !important;}
.mx-auto{margin-right:auto!important;margin-left:auto!important;margin-bottom:auto !important;margin-top:auto !important;}
.btn-amarillo{background:rgba(212, 194, 59, 0.87) !important;}
.tr-table{background-color:#063F9C !important;color:aliceblue !important;font-size:1.3em !important;}
.profile-empresa-arriba{margin-right:auto !important;margin-left:auto !important;margin-top:auto !important;margin-bottom:auto !important;width:200px !important;height:200px !important;-webkit-border-radius:200px 200px 200px 200px !important;top:-38px !important;left:-28px !important;position:absolute !important;-webkit-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;-moz-box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;box-shadow:6px 7px 38px -4px rgba(5,29,96,0.48) !important;overflow:hidden !important;background-color:#fff !important;}
.img-empresa-arriba{padding:30px !important;border:solid 0px !important;line-height:140 !important;position:absolute !important;display:table-cell !important;vertical-align:middle !important;text-align:center !important;top:50% !important;bottom:50% !important;}
.btn-floating.waves-effect.waves-light{padding:5px;color:aliceblue;margin:2px;opacity:1;background-color:#000;}
.col-form-label{font-size:1rem !important;}
.title-menu{padding-left:10px;color:aliceblue;font-weight:900;}
ul.main-menu > li a{font-weight:400 !important;}
.top-bar .logged-user .btn{-webkit-box-shadow:0px 0px 0px 0px;-moz-box-shadow:0px 0px 0px 0px;box-shadow:0px 0px 0px 0px;}
.top-bar .logged-user .btn .name{font-weight:500 !important;}
.top-bar .logged-user .btn{font-size:1em !important;color:#fff !important;}
.nav-pills>li+li {
    margin-left: 0px !important;
    color: #1d92af;
    font-size: small;
}

.widget-header h4 {
    padding-top: 8px;
}
