    /*Mostrar Plan de Trabajo*/
    .mtp a{
        font-size: 2rem;
        position: absolute;
        bottom: 36px;
        cursor: pointer;
    }
    .mtp input{
        cursor:no-drop !important;
    }
    .swal2-container.swal2-fade.swal2-shown {
       z-index: 888;
    }

	.file-loading {
	    width: 100%;
	}

	.file-preview {
	    display: none;
	}

	p#validadorAdminDate {
	    position: absolute;
	    top: 45px;
	    right: 45px;
	}

	body {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#top {
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		font-size: 12px;
	}

	#calendar {
		max-width: 100%;
		margin: 40px auto;
		padding: 0 10px;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loaders{
	    position: relative;
	    left: 50%;
	    bottom: 0px;
	    z-index: 1;
	    width: 150px;
	    height: 150px;
	    margin: 25px 0 0 -75px;

	}
	.loader {
	  position: relative;
	  left: 50%;
	  bottom: 0px;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: 25px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  border-bottom: 16px solid #3498db;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 }
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom {
	  from{ bottom:-100px; opacity:0 }
	  to{ bottom:0; opacity:1 }
	}

	.swal2-modal.swal2-noanimation.swal2-show {
	    width: 90% !important;
	    height: 70% !important;
	    overflow-x: auto !important;
	    min-height: 90% !important;
	    max-height: 90% !important;
	}

	.form-control-sm, .btn-sm{
        z-index: inherit !important;
    }

    .content {
        text-align: -webkit-auto;
    }

    html {
        font-size: 13px !important;
    }

    form {
        font-size: 13px !important;
    }

    .note-popover {
        display: none;
    }

    .ocultar {
      display: none;
    }

    #imgStado{
        border: 0 !important;
    }

    #divImgEstado{
    	position: absolute;
        right: 16px;
        top: 16px;
    }

    #chartdiv {
		float:left;
	  width: 50%;
	  height: 500px !important;
	}
	#chartdiv2 {
		float:left;
		width		: 50%;
		height		: 500px !important;
		font-size	: 11px;
	}
	.fc-content {
        color: aliceblue !important;
        font-weight: 500 !important;
    }

    #tituloPrincipal {
	    text-align: center;
	}

	#button-delete {
	    float: left;
	}

	p#parrafoIniFin {
	    font-size: 20px;
	    font-weight: bolder;
	    position: absolute;
	    top: -10px;
	}

	.form-control-sm, .btn-sm{
	    z-index: inherit !important;
	}

	.content {
	    text-align: -webkit-auto;
	}

	html {
	    font-size: 13px !important;
	}

	form {
	    font-size: 13px !important;
	}

	.form-control.file-caption.kv-fileinput-caption {
	    height: 54px;
	}

	.top-bar {
	    padding: 0px 0 !important;
	}

	.top-bar .top-bar-right {
	    top: -3px;
	}

	.iconfiles{
        width: 60px;
        padding: 8px;
    }

    .imagesfile {
        display: grid;
    }

    .iclonciclo {
        width: 30px;
    }
    .contentimg{
        padding: 10px;
        margin: auto;
        display: inline-block;
    }

	p:first-letter {
	    text-transform: uppercase !important;
	}

	ol.indicator {
	    display: none !important;
	}

	h3.title {
	    display: none !important;
	}

	a.close {
	    margin-top: 140px !important;
	    padding: 6px !important;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 60px !important;
	    font-weight: 100;
	    text-decoration: none;
	    text-shadow: 0 0 2px #000;
	    text-align: center;
	    background: rgba(0,0,0,.5);
	    -webkit-box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    box-sizing: content-box;
	    border: 3px solid #fff;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    color: aliceblue !important;
	    z-index: 9999 !important;
	}

	.espaciofile{
		width: 80px;
	    vertical-align: middle;
	    float: left;
	    position: relative;
	    min-height: 1px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	/* select#select_traer_datos {
	    background: transparent;
	    border: none;
	    font-size: 14px;
	    color: #EEE;
	    font-weight: 900;
	} */

	select#select_traer_datos option {
	    background: #4fc0e9;
	    font-size: 14px;
	    color: #EEE;
	    font-weight: 900;
	}

	::-webkit-input-placeholder {
	    color: #555 !important;
	}

  select#select_traer_datos {
      background: transparent;
      border: none;
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      display: inline-block;
  }

  .padreTraerdados{
      display: flex;
      justify-content: center;
  }

  .hijoTraerdatos{
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 98% 0;
      height: 29px;
      overflow: hidden;
      background-color: #4fc0e9;
      min-height: 36px;
  }
