
	body {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	.ocultar {
		display: none;
	}

  input {
      margin-top: 0px !important;
      text-align: -webkit-center;
      padding: 0px !important;
  }

  select {
      margin-top: 0px !important;
      text-align: -webkit-center;
      padding: 0px !important;
  }

  .text-muted {
      text-transform: lowercase;
      text-align: center;
  }

  .top-grande{
    padding-top: 70px;
  }

  .text-muted h6 {
      overflow: hidden;
      white-space: nowrap !important;
      text-overflow: ellipsis;
  }

  #button-delete {
	    float: left;
	}

	#top {
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		font-size: 12px;
	}

	#calendar {
		max-width: 100%;
		margin: 40px auto;
		padding: 0 10px;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loaders{
	    position: relative;
	    left: 50%;
	    bottom: 0px;
	    z-index: 1;
	    width: 150px;
	    height: 150px;
	    margin: 25px 0 0 -75px;

	}
	.loader {
	  position: relative;
	  left: 50%;
	  bottom: 0px;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: 25px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  border-bottom: 16px solid #3498db;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 }
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom {
	  from{ bottom:-100px; opacity:0 }
	  to{ bottom:0; opacity:1 }
	}

	/*.swal2-modal.swal2-noanimation.swal2-show {
	    width: 90% !important;
	    height: 90% !important;
	    overflow-x: auto !important;
	}*/
	.fc-content {
	    color: aliceblue;
	    font-weight: 400;
	}

	#chartdiv {
		float:left;
	  width: 50%;
	  height: 500px !important;
	}
	#chartdiv2 {
		float:left;
		width		: 50%;
		height		: 500px !important;
		font-size	: 11px;
	}
	.swal2-modal.swal2-noanimation.swal2-show {
	    width: 70% !important;
	    height: 70% !important;
	    overflow-x: auto !important;
	    min-height: 90% !important;
	    max-height: 90% !important;
	}

	#imgStado{
        border: 0 !important;
    }

    #divImgEstado{
    	position: absolute;
        right: 16px;
        top: 16px;
    }
    .input-permisos-menu .onoffswitch-inner:before { padding-left: inherit !important; content: "Si" !important; }
    .input-permisos-menu .onoffswitch-inner:after { content: "No" !important; }
    .no-select{ cursor: pointer; }
    .select{ cursor: no-drop; opacity: 0.5; }
