<div id="cal-day-box">
	<div class="row-fluid clearfix cal-row-head">
		<div class="span1 col-xs-1 cal-cell"><%= cal.locale.time %></div>
		<div class="span11 col-xs-11 cal-cell"><%= cal.locale.events %></div>
	</div>
	<% if(all_day.length) {%>
		<div class="row-fluid clearfix cal-day-hour" style="-webkit-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
-moz-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);">
			<div class="span1 col-xs-1"><b><%= cal.locale.all_day %></b></div>
			<div class="span11 col-xs-11">
				<% _.each(all_day, function(event){ %>
					<div class="media mb-1">
					  <a class="media-left waves-light">
					      <img class="rounded-circle" style="width: 30px;" src="<%= event['foto'] %>" alt="Generic placeholder image">
					  </a>
					  <div class="media-body">
					      <h4 class="media-heading observaciones-title" style="font-size: 16px;
    padding-top: 12px;
    text-transform: capitalize;"><%= event['nombre'] %></h4>
					  </div>
					</div>
					<div class="day-highlight dh-<%= event['class'] %>" style="background-color: <%= event['color'] %>;opacity: 0.5;">
						<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
						   data-event-class="<%= event['class'] %>" class="event-item" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;">
							<%= event.title %></a>
					</div>
				<% }); %>
			</div>
		</div>
	<% }; %>
	<% if(before_time.length) {%>
		<div class="row-fluid clearfix cal-day-hour" style="-webkit-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
-moz-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);">
			<div class="span1 col-xs-3"><b><%= cal.locale.before_time %></b></div>
			<div class="span5 col-xs-5">
				<% _.each(before_time, function(event){ %>
					<div class="media mb-1">
					  <a class="media-left waves-light">
					      <img class="rounded-circle" style="width: 30px;" src="<%= event['foto'] %>" alt="Generic placeholder image">
					  </a>
					  <div class="media-body">
					      <h4 class="media-heading observaciones-title" style="font-size: 16px;
    padding-top: 12px;
    text-transform: capitalize;"><%= event['nombre'] %></h4>
					  </div>
					</div>
					<div class="day-highlight dh-<%= event['class'] %>" style="background-color: <%= event['color'] %>;opacity: 0.5;">
						<span class="cal-hours pull-right" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;"><%= event.end_hour %></span>
						<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
						   data-event-class="<%= event['class'] %>" class="event-item" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;">
							<%= event.title %></a>
					</div>
				<% }); %>
			</div>
		</div>
	<% }; %>
	<div id="cal-day-panel" class="clearfix">
		<div id="cal-day-panel-hour">
			<% for(i = 0; i < hours; i++){ %>
				<div class="cal-day-hour">
					<% for(l = 0; l < cal._hour_min(i); l++){ %>
						<div class="row-fluid cal-day-hour-part">
							<div class="span1 col-xs-1"><b><%= cal._hour(i, l) %></b></div>
							<div class="span11 col-xs-11"></div>
						</div>
				<% }; %>
				</div>
			<% }; %>
		</div>

		<% _.each(by_hour, function(event){ %>
			
			<div class="pull-left day-event day-highlight" style="-webkit-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
-moz-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);margin-top: <%= (event.top * 30) %>px;height: <%= (event.lines * 30) %>px;background-color: rgba(255, 222, 173, 0);">
				<div class="media mb-1 cal-hours">
				  <a class="media-left waves-light">
				      <img class="rounded-circle" style="width: 30px;" src="<%= event['foto'] %>" alt="Generic placeholder image">
				  </a>
				  <div class="media-body">
				      <h4 class="media-heading observaciones-title" style="font-size: 16px;
    padding-top: 12px;
    text-transform: capitalize;"><%= event['nombre'] %></h4>
				  </div>
				</div>			
				<div class=" dh-<%= event['class'] %>" style="background-color: <%= event['color'] %>;opacity: 0.5;padding: 7px;">
					<span class="cal-hours" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;"><%= event.start_hour %> - <%= event.end_hour %></span>
					<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					   data-event-class="<%= event['class'] %>" class="event-item" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;">
						<%= event.title %></a>
				</div>
			</div>
		<% }); %>
	</div>
	<% if(after_time.length) {%>
	<div class="row-fluid clearfix cal-day-hour" style="-webkit-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
-moz-box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);
box-shadow: 0px 1px 12px 1px rgba(94,95,97,0.52);">
		<div class="span1 col-xs-3"><b><%= cal.locale.after_time %></b></div>
		<div class="span11 col-xs-9">
			<% _.each(after_time, function(event){ %>
			<div class="media mb-1">
			  <a class="media-left waves-light">
			      <img class="rounded-circle" style="width: 30px;" src="<%= event['foto'] %>" alt="Generic placeholder image">
			  </a>
			  <div class="media-body">
			      <h4 class="media-heading observaciones-title" style="font-size: 16px;
    padding-top: 12px;
    text-transform: capitalize;"><%= event['nombre'] %></h4>
			  </div>
			</div>
			<div class="day-highlight dh-<%= event['class'] %>" style="background-color: <%= event['color'] %>;opacity: 0.5;">
				<span class="cal-hours" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;"><%= event.start_hour %></span>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
				   data-event-class="<%= event['class'] %>" class="event-item" style="color: aliceblue;    text-shadow: 3px 1px 2px #1c2331;">
					<%= event.title %></a>
			</div>
			<% }); %>
		</div>
	</div>
	<% }; %>
</div>
