.con-new-acta{
    margin: 2%;
    cursor: pointer;
}
.new-acta{
    height: 200px;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: #fff;
    border-style: dotted;
    color: #3fa9f5;
    border-color: black;
}
.new-acta:hover {
 background: #3fa9f5;
 color: #fff !important;
 border-color: white;
}
.new-acta-text{
    margin-top: 17%;
}
.badge.element-bg-color-red{
    background-color:red;
}
.fila-encabezado{
    margin-left: 1%;
    margin-right: 1%;
}
.encabezado{
    border: 1px solid;
}
.contenido{
    margin-top: 0;
    margin-left: 1%;
    margin-right: 1%;
}
.contenido .encabezado{
    border-top: 0px solid;
}
.encabezado-int{
    border-right: 1px solid;
}
.fa-2{
    font-size: 2em;
    cursor: pointer;
}
.fa-3{
    font-size: 3em;
    cursor: pointer;
}
.fa-4{
    font-size: 4em;
    cursor: pointer;
}
.realizado{
    color: green !important;
}
.aplazar{
    color: #CE7B11 !important;
}
.cancelar{
    color: red !important;
}
.comentario{
    color: blue !important;
}
.modal-content{
    margin-top: 10%;
}
.team-list li img{
    width: 40px;
}
.dl-horizontal{
    border-bottom: 1px solid darkkhaki;
    border-top: 1px solid darkkhaki;
}
.dl-horizontal dt{
    margin-top: 1%;
}
.dl-horizontal dd{
    margin-top: 1%;
}
.ion-person{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 22px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    background-color: #ccc;
    color: inherit;
}
.quitar{
    color: red;
    cursor: pointer;
}
.anadir-invitados{
    margin-top: 20%;
}
.imagen-agregar{
    width: 40px;
    height: 40px;
}
.col-user{
    text-align: left;
}

#listado_invitados{
    text-align: left;
}

#listado_invitados li{
    text-align: center;
}

.crear-inv-adi{
    color: green;
    text-align: center;
}
.eliminar-inv-adi{
    color: red;
    text-align: center;
}
/*.eliminar-inv{
    margin-top: 16%;
}*/

.btn_guardar{
    display: none;
}
.btn_guardar_editar{
    display: none;
}
.guardar{
    color: #fff !important;
}
.guardar_editar{
    color: #fff !important;
}
.guardar2{
    color: #fff !important;
}

.citada{
    height: 200px;
    border: 3px solid orange;
    margin-left: 1%;
    margin-bottom: 1%;
    border-style: dotted;
    color: orange;
}
.realizada{
    height: 200px;
    border: 3px solid green;
    margin-left: 1%;
    margin-bottom: 1%;
    border-style: dotted;
    color: green;
}
.iniciar{
    color: green !important;
}
.editar{
    color: orange !important;
}
.eliminar{
    color: red !important;
}
.fecha-inicio{
    cursor: no-drop;
}
.cargando{
    background: #e9e9e9;
    text-align: center;
}
.contenido-iniciar-reunion{
    /*display: none;*/
}
.img-asistencia{
    width: 40px;
}
.imagen-asis{
    text-align: right;
}
.nombre-asis{
    text-align: left;
}
.crear-tema{
    color: green;
}
.crear-pendiente{
    color: green;
}

.responsable{
    height: 100% !important;
}

.eliminar-tema{
    color: red !important;
}

.eliminar_prop{
    color: red !important;
}
.fila-asistencia{
    margin-bottom: 2%;
}
.no-visible{
    display: none;
}
.mf-header{
    position: initial !important;
}
#crear_acta{
    display: none;
    background-color: #fff;
}
#formulario_cita{
    margin: 2%;
}
.img-atras{
    width: 41%;
    margin-top: 12%;
    cursor: pointer;
}
.lado{
    color: #fff;
}
#iniciar_reunion{
    display: none;
    background-color: #fff;
}
#formulario_iniciar{
    margin: 2%;
}

#editar_acta{
    display: none;
    background-color: #fff;
}

.margen-top{
    margin-top: 1%;
}
.Guardar-Invi{
    background-color: green;
}
.guardar-editar-cita{
    margin-top: 2%;
}
.hora_llegada{
    text-align: left;
}
.titulo-tema{
    font-size: 20px !important;
}
.titulo-pendiente{
    font-size: 20px !important;
}
.img-comentario{
    width: 50%;
}
.hace-comentario{
    font-size: 0.85em;
    color: #b1b1b1;
}
.comentario-text{
    text-align: left;
}
.project-section {
    margin-bottom: 30px;
}
.project-section p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555;
}
.flotante{position:fixed;bottom:28px;right:-57px}
