    #chart_cono{width:150%;height:84vh}
    .nav-tabs{border:0;padding:.7rem;border-radius:2px}
    .nav-tabs .nav-item.open .nav-link,.nav-tabs .nav-link.active{background-color:rgba(255,255,255,.2);color:#fff;-webkit-transition:all .5s;transition:all .5s;border-radius:2px}
    .bg-primary-darken{background-color:#014eda}
    .brown-gradient-parent:nth-child(1) .bg-brown-gradient{background-color:#510707}
    .brown-gradient-parent:nth-child(2) .bg-brown-gradient{background-color:#A59088;height:100%}
    .brown-gradient-parent:nth-child(3) .bg-brown-gradient{background-color:#8D6E63;height:100%}
    .brown-gradient-parent:nth-child(4) .bg-brown-gradient{background-color:#775549;height:100%}
    .bg-brown-gradient{color:#fff;border:1px solid #fff}
    .list-head-child:nth-child(1){background-color:#01c9ed;color:#fff}
    .list-head-child:nth-child(1) h2{margin-top:10px}
    .list-head-child:nth-child(2){background-color:#d6dde5}
    .list-head-child:nth-child(3){border-top:1px solid #ddd;border-right:1px solid #ddd}
    .list-body-child{background-color:#d6dde5;margin:4px auto}
    .list-body-child:nth-child(1){color:#01c9ed}
    #first_list.list-group.list-group-flush.mt-2 .list-group-item:not(:first-child){background:none}
    .custom-badge{display:inline;vertical-align:middle;margin-left:1rem;float:left}
    .custom-img{float:left}
    .border-radius-top-0{border-top-left-radius: 0;border-top-right-radius: 0;}
    .bg-essi{background-color: #0f57fa;}
    h2{font-size:3vh}
    #opor_per_mdl_3, #opor_per_mdl_2, #opor_per_mdl_1,#donutchart,#m_negocios_perdidos,#neg_cerr_chart,#chart_radar,#top_x_div1,#top_x_div2,#top_x_div3{position:absolute;width:100%;height:100%}
    .chartwrapper{width:100%;position:relative;padding-bottom:70%;box-sizing:border-box}
    .gastos-ventas-box:nth-child(1){background-color:#2cbbd8}
    .gastos-ventas-box:nth-child(2){background-color:#037cae}
    #donutchart{width:99%;height:100%}
    .custom-card{min-height:20rem;max-height:20rem}
    .country-thumbnail{top:5rem;right:5rem}
    .palette-parent :nth-child(1) .palette{background-color: #0a1972;}
    .palette-parent :nth-child(2) .palette{background-color: #0045c4;}
    .palette-parent :nth-child(3) .palette{background-color: #0075ed;}
    .palette-parent :nth-child(4) .palette{background-color: #009ced;}
    .palette-parent :nth-child(5) .palette{background-color: #00c8ed;}
    #ges_act_pen_3, #ges_act_pen_2, #ges_act_pen_1{ width: 100%; height: 30rem; }
    .cuadro-color-rojo-cono{width:20px;height:8px;float:left;display:inline-block;margin-right:5px;margin-top:4px;background-color:#bc0301}
    .cuadro-color-amarillo-cono{width:20px;height:8px;float:left;display:inline-block;margin-right:5px;margin-top:4px;background-color:#ffa901}
    .cuadro-color-verde-cono{width:20px;height:8px;float:left;display:inline-block;margin-right:5px;margin-top:4px;background-color:#00690c}
    .titulo-color{display:inline-block;float:left}
    #op_identificadas .card{height: 40rem;}
    #neg_cerrados .card{height: 14rem;}
    #op_perdidas .card{height:10.4rem;}
    /*Preload*/
    .loader-cylon{position:relative;height:10px;overflow:hidden}@media (min-width:1260px) and (max-width:1600px){.loader-cylon{margin-top:-.1%}}.loader-cylon:after{content:'';display:block;height:100%;width:100%;position:absolute;background-color:#0a78da;-webkit-animation:cylon 3s ease-out infinite;animation:cylon 3s ease-out infinite}@-webkit-keyframes cylon{0%,100%{left:-100%}50%{left:100%}}@keyframes cylon{0%,100%{left:-100%}50%{left:100%}}
    /*Fin Preload*/
    /*Punto de rotura para que la información del cono no se salga*/
    @media (min-width: 1601px) and (max-width: 1645px) {
        #chart_cono{width: 149%;}
    }
    @media (min-width: 1646px) and (max-width: 1853px) {
    #chart_cono{width: 143%;}
}
@media (min-width: 1854px) and (max-width: 1920px) {
    #chart_cono{width: 141%;}
}
.cono-graficas table{
    width: 100%;
}
.cono-graficas>table>tbody>tr>td>div>div {
    position: unset !important;
}
    /*Fin Punto de rotura para que la información del cono no se salga*/
.img-modal-OI{
    width: 110px;
    height: 110px;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    -webkit-box-shadow: 2px 9px 8px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: 2px 9px 8px -5px rgba(0,0,0,0.56);
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.56);
    margin-top: 50px;
}
.text-OI{
    top: 124px;
    font-size: 13px;
    right: 0;
    left: 0;
    text-align: center;
}
.img-circulo{
    width: 55px;
    height: 55px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}
.bg-ciclo{
    background-color: #e3edf6;
}
.bg-ciclo2{
    background-color: transparent;
}
.intermedia .bg-ciclo{
    background-color: #cce1f2 !important;
}
.intermedia .bg-ciclo2{
    background-color: #e3edf6 !important;
}
.linea3-item{
    font-size: 22px;
    display: block;
    line-height: .8;
    color: #66ae20;
}
.linea2-item{
    font-size: 11px!important;
    display: block;
    line-height: .8;
    color: #000;
}
.linea2-item span{
    color: #305ddb;
}
.linea1-item{
    font-size: 15px!important;
    display: block;
    line-height: .8;
    color: #000;
}
.linea1-item span{
    color: #305ddb;
}
.h-100{
    height: 100%;
}
.divimagen-2{
    width: 55px;
    height: 55px;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 9px 8px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: 2px 9px 8px -5px rgba(0,0,0,0.56);
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.56);
}
.nombre-avatar-2 {
    color: #305ddb;
    position: absolute;
    top: 55px;
    font-size: 13px;
    right: 0;
    left: 0;
    text-align: center;
}
.bandera {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -13px;
    margin-bottom: -6px;
    width: 30px;
    height: 30px;
    background-size: contain;
    border-radius: 100%;
}
.blue-sky.darken-2 {
    background-color: #0087be!important;
}
.card-action1 {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px 14px;
}
