.textfield {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #95a5a6;
    border-radius: 4px;
    padding: .5em;
    font-size: 1rem;
    color: #34495e;
    transition: .15s
}
.textfield::-webkit-input-placeholder {
    color: #95a5a6;
    transition: .15s
}
.textfield:-ms-input-placeholder {
    color: #95a5a6;
    transition: .15s
}
.textfield::placeholder {
    color: #95a5a6;
    transition: .15s
}
.textfield:hover {
    outline-width: 0;
    color: #5d6d77;
    border-color: #5d6d77
}
.textfield:hover::-webkit-input-placeholder {
    color: #5d6d77
}
.textfield:hover:-ms-input-placeholder {
    color: #5d6d77
}
.textfield:hover::placeholder {
    color: #5d6d77
}
.textfield:focus {
    outline-width: 0;
    border-color: #34495e
}
.textfield:focus::-webkit-input-placeholder {
    color: #34495e
}
.textfield:focus:-ms-input-placeholder {
    color: #34495e
}
.textfield:focus::placeholder {
    color: #34495e
}
.textfield--large {
    font-size: 1.125em
}
.search-section {
    margin-top: 1em;
    margin-bottom: 1em
}
.question--collapsed {
    display: none;
}
.question--collapsed+.question {
    margin-top: 0;
}
.question--unanswered {
    padding-top: 1.25em;
    border-top: 2px solid #2ecc71;
}
.question__title {
    margin-top: 0;
}
.question__answer {
    padding-bottom: 1px;
    margin-bottom: 0;
}
.img-sedes  {
	max-width: 100% !important;
}
