/*flechas 1*/

$size: 30px;
$speed: 6s;
$peakopacity:0.7;




body {
  background-color:#e25454;
  .arrows {
    position: relative;
    /**/
    position: absolute;
    top:20%;
    left:20%;
    /**/
    width:$size;
    height:$size;
    transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/9 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size,0)rotate(0deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size,0px)rotate(0deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
  }
}

@keyframes arrows {
  0% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
      transform:translate(-$size, 0) rotate(
        45deg) ;
  }
  10%, 90% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
  }
  50% {
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate(1px, 0px)rotate(45deg) ;
  }
  100% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
      transform:translate(0.6666666667px, 0)rotate(45deg) ;
  }
}

/*flechas 2*/

$size: 30px;
$speed: 6s;
$peakopacity:0.7;

body {
  background-color:#e25454;
  .arrows {
    position: relative;
    /**/
    position: absolute;
    top:20%;
    left:20%;
    /**/
    width:$size;
    height:$size;
    transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/9 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size,0)rotate(0deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate($size,0px)rotate(0deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
  }
}

@keyframes arrows {
  0% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
      transform:translate(-$size, 0) rotate(
        -150deg) ;
  }
  10%, 90% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
  }
  50% {
      border-left:$size/3 solid rgba(0,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
      transform:translate(1px, 0px)rotate(-150deg) ;
  }
  100% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
      transform:translate(0.6666666667px, 0)rotate(-150deg) ;
  }
}
