/* General Demo Style */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Gorditas:400,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #c2edf4;
    font-weight: 300;
    font-size: 14px; 
    color: #333;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container2 {
	width: 100%;
	position: relative;
}

.container2 > header,
.main2 {
	width: 100%;
	max-width: 1060px;
	margin: 0 auto;
	padding: 0 30px;
}

.container2 > header {
	padding: 30px 30px 0px 30px;
	font-family: 'Gorditas', Arial, sans-serif;
}

.container2 > header h1 {
	margin: 0;
	font-weight: 400;
	color: #41838e;
	font-size: 16px; 
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

.container2 > header h1 span {
	color: #F26328;
}

.container2 > header h2 {
	padding: 10px 0;
	margin: 0;
	font-size: 62px;
	line-height: 58px;
	color: #fff;
	font-weight: 400;
	position: relative;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2P8DwSMQMCABBhBgiA+sgRYBboEXBuyBIpZMAkAW1YUAh9deX8AAAAASUVORK5CYII=) repeat-x bottom left;
	text-shadow: 4px 4px 0px #41838e;
}

.container2 > header h2 span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 18px;
	color: #F26328;
	text-shadow: none;
}

/* Header Style */
.codrops-top {
	font-size: 11px; 
	line-height: 24px; 
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.support-note {
	clear: both;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}