.menu div .row{
    border-right: 0.2px solid #000;
    cursor: pointer;
}

.menu div:hover {
    background-color: #44B7EA;
    color: #fff;
}

.menu .active{
    background-color: #0A78DA !important;
    color: #fff !important;
    cursor: no-drop !important;
}

.filtro a{
    font-size: x-large;
    color: #3dbcef !important;
}

.bg-white{
    background-color: #fff;
}
.bg-blue{
    background-color:  rgb(61, 188, 239);
}
.bg-blue-medio{
    background-color:  rgb(17, 108, 193);
}
.bg-blue-alto{
    background-color:  rgb(5, 67, 124);
}
.bg-blue-bitacora{
    background-color: rgb(15, 41, 150);
}
.bg-blue-plan{
    background-color: rgb(3, 62, 214);
}
.bg-blue-gpendiente{
    background-color: rgb(12, 109, 255);
}
.border-round{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000
}
.border-round-btn-modal{
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000
}
.border-round-left{
    border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border: 0px solid #000000
}
.border-round-right{
    border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    border: 0px solid #000000;
}
.border-round-nc{
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0px solid #000000;
}
.margin-media{
    margin-left: 50%;
}
.color-white{
    color: #fff;
}

.color-content-g{
    color: #051d60;
}
.color-content-b{
    color: rgb(4, 29, 96);
}
.color-content-b{
    color: rgb(4, 29, 96);
}

.color-content-p{
    color: rgb(103, 103, 103);
}
.color-title{
    color: rgb(61, 188, 239);
}
.color-title-nc{
    color: rgb(17, 108, 193);
}
.color-title-np{
    color: rgb(5, 67, 124);
}
.color-title-pt{
    color: rgb(3, 62, 214);
}
.color-title-pen{
    color: rgb(15, 41, 150);
}
.color-title-bitacora{
    color: rgb(15, 41, 150);
}
.img-size{
    width: 70px;
}
.img-size-modal{
    width: 60px;
}
.img-size-data{
    width: 50px;
}

.texto-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.shadow{
    -webkit-box-shadow: 3px 4px 35px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 3px 4px 35px -2px rgba(0,0,0,0.68);
    box-shadow: 3px 4px 35px -2px rgba(0,0,0,0.68);
}

.title-side{
    position: absolute;
    bottom: 0;
    left: -0.5%;
}

.row-underlined{
    background-color: rgb(220, 241, 255);
}
.row-underlined-plan{
    background-color: rgb(241, 241, 241);
}
.row-underlined-data{
    background-color: rgb(200, 236, 255);
}

h-100{
    height: 100%;
}
.btn-view{
    position: absolute;
    right: 349px;
    top: 65px;
    cursor: pointer;
}
.btn-view img:hover{
    width: 2%;
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .btn-view{
        right: 253px;
    }
    .btn-view img:hover{
        width: 3%;
    }
}
@media (min-width: 1600px) and (max-width: 1899px) {
    .btn-view{
        right: 295px;
    }
    .btn-view img:hover{
        width: 2.5%;
    }
}

.btn-view-ut{
    cursor: pointer;
}
.btn-view-ut img:hover{
    width: 15%;
}

.modal-lg{
    max-width: 1300px !important;
    width: 100% !important;
    top: 200px !important;
}

@media (min-width: 1366px) and (max-width: 1599px) {
    .modal-lg{
        max-width: 850px !important;
    }
}

@media (min-width: 1600px) and (max-width: 1899px) {
    .modal-lg{
        max-width: 1100px !important;
    }
}

.modal-backdrop {
    background-color: #011e52 !important;
    opacity: 0.7 !important;
}
.logo-essi{
    position: absolute;
}
.margen-modal{
    margin-left: 15%;
    margin-right: 1%;
}

.mr-0-5{
    margin-right: -1rem!important;
}

.ml-modal{
    margin-left: 56px;
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .ml-modal{
        margin-left: 30px;
    }
}

@media (min-width: 1600px) and (max-width: 1899px) {
    .ml-modal{
        margin-left: 56px;
    }
}

.img-size-modal{
    width: 50px;
}

.linea-separadora{
    margin-top: -23px;
}

.linea-separadora hr{
    margin-left: 9%;
    margin-right: 1%;
}

.mt--20{
    margin-top: -20px;
}

.row-0-pendiente p{
    color: rgb(12, 109, 255);
}

.border-left-pendiente{
    border-left: 1px solid #aba8a8;
}

@media (min-width: 1366px) and (max-width: 1599px) {
    .row-0-pendiente p {
        font-size: 12px !important;
    }
}
.border-bottom-pendiente{
    border-bottom: 1px solid #aba8a8;
}
.color-pendiente p{
    color: rgb(15, 41, 150);
}
.row-underlined-pendiente{
    background-color: rgb(221, 221, 221);
}
.border-l{
    border-left: 1px solid #aba8a8;
    border-top: 1px solid #aba8a8;
}
.border-L{
    border-right: 1px solid #aba8a8;
    border-top: 1px solid #aba8a8;
}
.border-t{
    border-top: 1px solid #aba8a8;
}
.head-gpendiente p{
    color: rgb(1, 8, 36);
}
.color-cancelada{
    background-color: #a2c1cd;
    color: #fff;
    border-right: 1px solid #fff;
}
.color-aplazada{
    background-color: #75c9eb;
    color: #fff;
    border-right: 1px solid #fff;
}
.color-vencida{
    background-color: #1b75bb;
    color: #fff;
    border-right: 1px solid #fff;
}
.color-aprobar{
    background-color: #0f2996;
    color: #fff;
    border-right: 1px solid #fff;
}
.color-vigentes{
    background-color: #0a1972;
    color: #fff;
    border-right: 1px solid #fff;
}
.color-vigentem{
    background-color: #010e58;
    color: #fff;
    border-right: 1px solid #fff;
}
.color-vigentet{
    background-color: #010824;
    color: #fff;
}
.margen-pendiente{
    margin-left: 7%;
    margin-right: 7%;
}
.border-datos{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #d1d1d1;
}
.border-datos2{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000;
}
.bg-oportunidades{
    background-color: rgb(117, 201, 235);
}
.bg-Empresa{
    background-color: rgb(38, 169, 224);
}
.bg-contact{
    background-color: rgb(15, 41, 150);
}
.fa-3{
    font-size: 2em;
}
.bottom-up-data{
    margin-left: 12%;
    margin-right: 2%;
}
.bottom-up-data .col-md-4{
    border-right: 6px solid #f1f1f1;
}

.bottom-up-data > .col-md-6:nth-child(1){
    border-right: 6px solid #fff;
}
.progress-bar{
    background-color:  rgb(3, 62, 214) !important;
}
.bg-gastos{
    border-radius: 7px;
    background-image: -moz-linear-gradient( -90deg, rgb(142,224,255) 0%, rgb(72,129,179) 55%, rgb(1,34,102) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(142,224,255) 0%, rgb(72,129,179) 55%, rgb(1,34,102) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(142,224,255) 0%, rgb(72,129,179) 55%, rgb(1,34,102) 100%);
    box-shadow: 0.515px 0.857px 3px 0px rgba(0, 0, 0, 0.25);
}
.bg-gastos-gray{
    border-radius: 7px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(230,230,230) 76%, rgb(204,204,204) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(230,230,230) 76%, rgb(204,204,204) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(230,230,230) 76%, rgb(204,204,204) 100%);
    box-shadow: 0.515px 0.857px 3px 0px rgba(0, 0, 0, 0.25);
}
.margen-costo{
    margin-left: 18rem;
    margin-right: 18rem;
}
.margen-costo2{
    margin-left: 28rem;
    margin-right: 28rem;
}
.border-right-costo{
    border-right: 8px solid #f1f1f1;
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .margen-costo{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .margen-costo2{
        margin-left: 11rem;
        margin-right: 11rem;
    }
    .border-right-costo{
        border-right: 5px solid #f1f1f1;
    }
}
@media (min-width: 1600px) and (max-width: 1899px) {
    .margen-costo{
        margin-left: 13rem;
        margin-right: 13rem;
    }
    .margen-costo2{
        margin-left: 20rem;
        margin-right: 20rem;
    }
}
.border-presupuestal-up{
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border: 0px solid #000000;
}
.border-presupuestal-down{
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    border: 0px solid #000000;
}
.bg-costo-item{
    background-color: #1b75bb;
}
.shadown-presupuesta{
    border-radius: 7px;
    box-shadow: 0.515px 0.857px 3px 0px rgba(0, 0, 0, 0.25);
}
#chartdiv {
	width		: 100%;
	height		: 100px;
	font-size	: 11px;
}
.margin-menu-l{
    margin-left: 30%;
}
.margin-menu-r{
    margin-right: 30%;
}
@media (min-width: 1366px) and (max-width: 1600px) {
    .margin-menu-l{
        margin-left: 12%;
    }
    .margin-menu-r{
        margin-right: 12%;
    }
}

.margin-filtro-l{
    margin-left: 35%;
}
.margin-filtro-r{
    margin-right: 35%;
}
@media (min-width: 1366px) and (max-width: 1600px) {
    .margin-filtro-l{
        margin-left: 30%;
    }
    .margin-filtro-r{
        margin-right: 30%;
    }
}

.filtro-new{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #0000002e;
    background-color: white;
}
.fecha-filtro{
    background-color: transparent;
    border: 0px;
    font-size: 12px;
}

.btn-filtrar{
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #75BB11;
    background-color: #75BB11;
    color: #fff;
    cursor: pointer;
}
.btn-filtrar:hover{
    background-color: transparent;
    color: #75BB11;
}

.no-display{
    display: none;
}
.printer{
    width: 1.5%;
    cursor: pointer;
}
.printer-datos{
    width: 3.4%;
    cursor: pointer;
}
/*Preload*/
.loader-cylon {
  position: relative;
  height: 10px;
  overflow: hidden;
  margin-top: -0.6%;
}
@media (min-width: 1260px) and (max-width: 1600px) {
    .loader-cylon {
        margin-top: -1.1%;
    }
}
.loader-cylon:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #0a78da;
  -webkit-animation: cylon 3s ease-out infinite;
          animation: cylon 3s ease-out infinite;
}
@-webkit-keyframes cylon {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes cylon {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
/* for presentation */
/*Fin Preload*/
