h2.tith2 {
    margin: 0px;
}

.tith2 span {
    font-size: 25px;
}

div.contencalborde {
    box-shadow: 0 0 0 2px rgb(5, 29, 96), 0 1px 1px rgba(255, 255, 255, 0.5);
    width: 95%;
    height: 240px;
    border-radius: 14px;
}

.titconte {
    font-size: 13px;
    margin: 10px;
    line-height: 14px;
}

div#HistorialCambiosCont {
    margin-bottom: 60px;
}

.widget .widget-content h5 {
    font-size: 16px;
}

p.subtitulo_coment {
    font-size: 14px;
    font-weight: 400;
    color: #505050;
    text-align: -webkit-auto;
}

span.notificacion.ciclosvent {
    right: 0px !important;
    top: 15px;
    background: #80bc90 !important;
}

span.notificacion.visitclient {
    top: -1px !important;
    right: 0px !important;
    background: #ebb360 !important;
}

span.notificacion.bitacora {
    top: -1px;
    left: 0px !important;
    background: #cfd308 !important;
}

span.notificacion.pendientes {
    left: 0px;
    top: 15px;
    background: #da5147 !important;
}

span.notificacion.histop {
    left: 16px;
    top: 8px;
    background: #3c5779 !important;
}

.dia-con-eventos {
    background: #5fc2ff !important;
    color: #fff;
    font-size: 10px;
}

.content-perspective:before {
    top: 130px;
}

.valor-dia span.notificacion {
    z-index: 99;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding-top: 3px;
    margin: 0px;
    position: absolute;
    color: #fff;
    font-size: 10px;
}

.titulo-semana {
    background: #051d60;
    width: 13%;
    min-height: 16px;
    display: -webkit-inline-box;
    color: #fff;
    font-weight: 800;
    border-radius: 20px;
    text-align: -webkit-center;
}

.col-md-4.mesesano h2 {
    text-align: center;
    color: #051d60;
    font-size: 20px;
    text-transform: capitalize;
}

.col-md-4.mesesano {
    min-height: 4cm;
    padding-bottom: 10px;
}

.valor-dia span {
    position: absolute;
    top: 1px;
    right: 0px;
}

.valor-dia {
    background: #fbfdff;
    width: 13%;
    min-height: 26px;
    display: -webkit-inline-box;
    color: #4c4c4c;
    font-weight: 800;
    font-size: 8px;
    text-align: -webkit-center;
    position: relative;
}

span.titulo {
    font-size: 16px !important;
}

span.value {
    font-size: 15px;
    color: #999;
    font-weight: 400;
}

.form-control-sm,
.btn-sm {
    z-index: inherit !important;
}

.content {
    text-align: -webkit-auto;
}

.swal2-modal.swal2-noanimation.swal2-show {
    min-height: 90%;
    min-width: 90%;
    background: #fcf9f9 !important;
}

.textoajustado {
    font-size: 12px;
    text-align: -webkit-center;
    padding: 0px;
    margin: 0px;
    line-height: 12px !important;
    display: inline-block !important;
}

.unalinea {
    white-space: nowrap;
}

span.badge.info {
    background: #3d87b3;
}

.thumbClient span {
    top: 110px !important;
    position: relative;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}

.thumbClient {
    position: relative;
    display: inline-flex;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 5px rgb(5, 29, 96), 0 1px 1px rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-transform: scale(0.8) translateX(24px);
    -moz-transform: scale(0.8) translateX(24px);
    -o-transform: scale(0.8) translateX(24px);
    -ms-transform: scale(0.8) translateX(24px);
    transform: scale(0.8) translateX(24px);
    margin-bottom: 20px;
}

.thumbUser {
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 8px rgb(249, 249, 249), 0 1px 1px rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    border-radius: 50%;
    -webkit-transform: scale(0.8) translateX(24px);
    -moz-transform: scale(0.8) translateX(24px);
    -o-transform: scale(0.8) translateX(24px);
    -ms-transform: scale(0.8) translateX(24px);
    transform: scale(0.8) translateX(24px);
    right: 60px !important;
    top: 0px;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
    fill: rgba(51, 51, 51, 0.5);
    margin-right: 20px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.icon.active {
    fill: #E74C3C;
}

.icon.big {
    width: 64px;
    height: 64px;
    fill: rgba(51, 51, 51, 0.5);
}

.menClick i {
    font-size: 25px;
}

#border {
    height: 228px;
    width: 1px !important;
    max-width: 1px !important;
    padding: 0px !important;
    background-color: rgba(51, 51, 51, 0.2);
}

#border #line.one {
    width: 6px;
    height: 45px;
    background-color: #03113a;
    margin-left: -3px;
    transform: translateY(0%);
}

#border #line.two {
    width: 6px;
    height: 45px;
    background-color: #03113a;
    margin-left: -3px;
    transform: translateY(100%);
}

#border #line.three {
    width: 6px;
    height: 45px;
    background-color: #03113a;
    margin-left: -3px;
    transform: translateY(200%);
}

#border #line.four {
    width: 6px;
    height: 45px;
    background-color: #03113a;
    margin-left: -3px;
    transform: translateY(300%);
}

#border #line.five {
    width: 6px;
    height: 45px;
    background-color: #03113a;
    margin-left: -3px;
    transform: translateY(400%);
}

.menuContent {
    position: absolute;
    height: auto;
    width: 100%;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    margin-top: -350px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.menuContent.active {
    margin-top: 0px;
    display: -webkit-box;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.menClick span {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 34px;
    color: rgba(51, 51, 51, 0.5);
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: -webkit-left;
    line-height: 20px;
}

.menClick.active span {
    color: #03113a;
}

.notificacion {
    cursor: pointer;
}

button.swal2-confirm.swal2-styled {
    position: absolute;
    left: 15px;
}

.href-disable {
    cursor: no-drop;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    font-weight: 500;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: -webkit-left;
    line-height: 20px;
}

.href-disable span {
    color: #e5e5e5 !important;
}

.href-disable i {
    font-size: 18px;
}

.ticket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 700px;
    margin: 20px auto;
}

.detalle blockquote {
    font-size: 13px;
    font-family: sans-serif;
    line-height: 14px;
    text-align: left;
}

.ticket .stub,
.ticket .check {
    box-sizing: border-box;
}

.stub {
    background: #5fc2ff;
    height: 250px;
    width: 250px;
    color: white;
    padding: 20px;
    position: relative;
}

.stub:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 20px solid #fcf9f9;
    border-left: 20px solid #5fc2ff;
    width: 0;
}

.stub:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 20px solid #fcf9f9;
    border-left: 20px solid #5fc2ff;
    width: 0;
}

.stub .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    text-transform: uppercase;
}

.stub .top .line {
    display: block;
    background: #fff;
    height: 40px;
    width: 3px;
    margin: 0 20px;
}

.stub .top .num {
    font-size: 10px;
}

.stub .top .num span {
    color: #000;
}

.stub .number {
    position: absolute;
    font-size: 35px;
    top: 40%;
    text-transform: uppercase;
}

.check {
    background: #fff;
    min-height: 250px;
    width: 450px;
    padding: 40px;
    position: relative;
}

.check:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid #fcf9f9;
    border-right: 20px solid #fff;
    width: 0;
}

.check:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 20px solid #fcf9f9;
    border-right: 20px solid #fff;
    width: 0;
}

.tipo:after {
    content: '';
    position: absolute;
    bottom: 55px;
    left: 25px;
    height: 1.6px;
    background: #fff;
    width: 80%;
}

.tipo p {
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
}

.tipo {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0px;
}

.detalle p {
    font-weight: 400;
    font-size: 15px;
}

.responsable p {
    font-size: 25px;
    text-align: right;
    padding-right: 50px;
    position: relative;
    top: -10px;
}

.responsable .thumbUser {
    top: -30px;
    right: 10px !important;
    box-shadow: 0 0 0 8px rgb(95, 194, 255), 0 1px 1px rgb(255, 255, 255);
}

.marco-flotando {
    width: 100%;
    margin: auto !important;
    margin-bottom: 18px !important;
    text-align: left !important;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    padding-right: 30px;
}

.izquierdo {
    text-align: center;
    background: #051d60;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.izquierdo > h2 {
    color: #5fc2ff;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
}

.izquierdo > p {
    margin-top: 25px;
    color: aliceblue;
    font-size: large;
    font-weight: 400;
    margin-left: 20px;
}

.derecho {
    text-align: center;
}

p {
    font-weight: 400;
}

.pciclos {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 9px;
}

.iconfiles {
    width: 60px;
    padding: 8px;
}

.imagesfile {
    display: grid;
}

.iclonciclo {
    width: 30px;
}

.contentimg {
    padding: 10px;
    margin: auto;
    display: inline-block;
}

.contenticons {
    margin: auto;
    display: inline-block;
}

.centro > h2 {
    text-align: left;
}

.ciclos-ante {
    float: left;
    margin: 5px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #ccc;
    padding: 8px 35px 0px;
}

.ciclos-ante > h2 {
    font-weight: 900;
    margin: 0;
    color: #ccc;
}

.gris {
    color: #ccc;
}

.sin-margin {
    margin: 0;
}

.conten-text {
    margin: 20px;
    margin-right: 70px;
    margin-bottom: -50px;
}

.fuera-border {
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    text-align: left !important;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.comentRing {
    float: right;
}

.active > .ciclos-ante {
    background: #051d60;
}

.active > .ciclos-ante > h2 {
    color: #f5f5f5;
}

a:link {
    text-decoration: none;
}

a.ciclos-ante:hover {
    background: #5fc2ff !important;
}

.contentimg > li {
    float: left;
}

.contentimg > li > a:focus,
.contentimg > li > a:hover {
    text-decoration: none;
    background-color: #051d60;
}

.conten-text > p > span {
    font-size: 4em;
    font-weight: 900;
    line-height: 0.5;
}

#ingresos .relativo {
    border-bottom: 0.5px solid #ccc;
    padding: 5px;
}

.img-commen2 {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid #ccc;
    border-radius: 100%;
}

.segunda-fecha {
    position: absolute;
    right: 30px;
    padding-top: 20px;
    font-size: 20px;
}

.primera-fecha {
    position: absolute;
    right: 30px;

}

.infor {
    height: 60px;
    vertical-align: middle;
    display: block;
    text-align: left;
}

.infor p {
    margin-bottom: 0;
}

.usuario-list {
    margin-top: 1.2rem;
    margin-bottom: 0;
    color: #000;
}

.clear {
    border-bottom: 0.5px solid #fff;
}

.form-control-sm,
.btn-sm {
    z-index: inherit !important;
}

.content {
    text-align: -webkit-auto;
}

html {
    font-size: 13px !important;
}

form {
    font-size: 13px !important;
}

div.modal {
    height: 90%;
    top: 40px;
}

.modal-content {
    top: 40px;
}

.faltanteContinuardanger {
    color: #d9534f;
    font-weight: 600;
    top: 1px !important;
    position: absolute;
    right: 0px;
    width: 140px;
    text-align: center;
}

.faltanteContinuarwarning {
    color: #f0ad4e;
    font-weight: 600;
    top: 1px !important;
    position: absolute;
    right: 0px;
    width: 240px;
    text-align: center;
}

span.admit {
    font-weight: 500;
    font-size: 15px;
}

.centro.col-md-8 div {
    font-size: 15px;
}

.thumbUserCiclos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    top: -15px;
    right: -18px !important;
    z-index: 999;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: none;
    position: absolute;
    background-color: #fff;
    -webkit-transform: scale(0.6) translateX(24px);
}

.title-hiscambios {
    background: #051d60;
    color: #fff;
    font-size: 20px;
}

span.admit i {
    font-weight: bold;
    font-size: 30px;
}

.row.title-hiscambios .col-md-2 {
    text-align: -webkit-center;
}

.his-title {
    font-size: 16px;
    color: #051d60;
}

.his-valor {
    text-align: -webkit-center;
    color: #000;
    font-size: 16px;
    border-left: solid 3px #051d60;
}

.his-valor,
.his-title {
    border-bottom: solid 1px #051d60;
}

.panel1 span {
    float: left;
    padding-top: 5px;
    padding-right: 4px;
    color: #051d60;
    font-size: 18px;
    font-weight: 500;
}

.panel1 {
    float: left;
    padding-left: 10px;
}

.panel1 .color {
    background: #3c5779 !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.panel2 span {
    float: left;
    padding-top: 5px;
    padding-right: 4px;
    color: #051d60;
    font-size: 18px;
    font-weight: 500;
}

.panel2 {
    float: left;
    padding-left: 10px;
}

.panel2 .color {
    background: #da5147 !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.panel3 span {
    float: left;
    padding-top: 5px;
    padding-right: 4px;
    color: #051d60;
    font-size: 18px;
    font-weight: 500;
}

.panel3 {
    float: left;
    padding-left: 10px;
}

.panel3 .color {
    background: #cfd308;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.panel4 span {
    float: left;
    padding-top: 5px;
    padding-right: 4px;
    color: #051d60;
    font-size: 18px;
    font-weight: 500;
}

.panel4 {
    float: left;
    padding-left: 10px;
}

.panel4 .color {
    background: #ebb360;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.panel5 span {
    float: left;
    padding-top: 5px;
    padding-right: 4px;
    color: #051d60;
    font-size: 18px;
    font-weight: 500;
}

.panel5 {
    float: left;
    padding-left: 10px;
}

.panel5 .color {
    background: #80bc90 !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.panel-flotando {
    display: inline-block;
    min-width: 60%;
    transform: translateX(30%);
}

.row.calendarEdwin {
    padding-top: 32px;
}

.panel-flotando-arriba {
    position: fixed;
    display: inline-block;
    min-width: 60%;
    transform: translateX(30%);
    z-index: 999;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    top: 49px;
    border: solid 2px #051d60;
}

.flotante {
    position:fixed;
    bottom:0;
    right:0;
}

/*Eliminar alerta que sale en el editor de texto*/
.mce-notification.mce-has-close {
    display: none;
}

/*estilo comentario*/
.bg-comentario{
    color: white;
    background-color: #ff0000;
    width: 20%;
    cursor: pointer;
}
.b-comentario{
    border-right: 2px solid #ff0000;
}

.punteado{
  border-style: dotted;
  border: 1px solid #3F51B5;
}
